<%= form_for(@site_config) do |f| %>
  <% if @site_config.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@site_config.errors.count, "error") %> prohibited this site_config from being saved:</h2>

      <ul>
      <% @site_config.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :key %><br>
    <%= f.text_field :key %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
