<h1>Listing site_configs</h1>

<table>
  <thead>
    <tr>
      <th>Key</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @site_configs.each do |site_config| %>
      <tr>
        <td><%= site_config.key %></td>
        <td><%= site_config.value %></td>
        <td><%= link_to 'Show', site_config %></td>
        <td><%= link_to 'Edit', edit_site_config_path(site_config) %></td>
        <td><%= link_to 'Destroy', site_config, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Site config', new_site_config_path %>
