<p id="notice"><%= notice %></p>

<p>
  <strong>Key:</strong>
  <%= @site_config.key %>
</p>

<p>
  <strong>Value:</strong>
  <%= @site_config.value %>
</p>

<%= link_to 'Edit', edit_site_config_path(@site_config) %> |
<%= link_to 'Back', site_configs_path %>
