<%= form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :short_link %><br>
    <%= f.text_field :short_link %>
  </div>
  <div class="field">
    <%= f.label :position %><br>
    <%= f.text_field :position %>
  </div>
  <div class="field">
    <%= f.label :order %><br>
    <%= f.number_field :order %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </div>
  <div class="field">
    <%= f.label :team_page_bio %><br>
    <%= f.text_field :team_page_bio %>
  </div>
  <div class="field">
    <%= f.label :detail_page_website_text %><br>
    <%= f.text_field :detail_page_website_text %>
  </div>
  <div class="field">
    <%= f.label :detail_page_website_url %><br>
    <%= f.text_field :detail_page_website_url %>
  </div>
  <div class="field">
    <%= f.label :detail_page_bio %><br>
    <%= f.text_field :detail_page_bio %>
  </div>
  <div class="field">
    <%= f.label :facebook_url %><br>
    <%= f.text_field :facebook_url %>
  </div>
  <div class="field">
    <%= f.label :twitter_url %><br>
    <%= f.text_field :twitter_url %>
  </div>
  <div class="field">
    <%= f.label :gplus_url %><br>
    <%= f.text_field :gplus_url %>
  </div>
  <div class="field">
    <%= f.label :dribble_url %><br>
    <%= f.text_field :dribble_url %>
  </div>
  <div class="field">
    <%= f.label :github_url %><br>
    <%= f.text_field :github_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
