<div class="team-box">
  <div class="team-box-image-container">
    <!--<img src="/img/team/anthony.png" class="team-box-image" />-->
    <%= image_tag team.image, class:'team-box-image'%>
  </div>
  <h4><%=h team.short_link %></h4>
  <h3><%=h team.position %></h3>
  <div class="box-divider"></div>
  <p><%=h team.team_page_bio %></p>
  <div class="box-divider"></div>
  <div class="button-wrapper">
    <!--<a href="team-detail.html">View Profile</a>-->
    <%= link_to 'View Profile', team %>
  </div>
</div>