<section id="team-top">
  <div class="wrapper">
    <h1>The Team</h1>
    <div class="get-in-touch">
      <span>Like what you see?</span>
      <a href="<%= new_contact_path%>">Get In Touch</a>
    </div>

    <br class="clearBoth" />
  </div>
</section>

<section id="team-boxes-area">
  <div class="wrapper">
    <div id="team-boxes">
      <!-- iterate all teams -->
      <%= render @teams %>
      <!-- ends iteration -->
      <br class="clearBoth" />
    </div>
  </div>
</section>
