<section id="team-detail-top">
  <div class="wrapper">
    <h1>
      <%= link_to raw('<i class="fa fa-angle-double-left"></i>Back to The Team'), teams_path %>
      <!--<a href="team.html"><i class="fa fa-angle-double-left"></i>Back to The Team</a>-->
    </h1>

    <div class="get-in-touch">
      <span>Like what you see?</span>
      <a href="<%= new_contact_path%>">Get In Touch</a>
    </div>

    <br class="clearBoth" />
  </div>
</section>

<section id="team-detail-boxes-area">
  <div class="wrapper">
    <div class="detail-boxes">
      <div class="first-box-line">
        <div class="name-box">
          <h4><%= @team.short_link %></h4>
          <h5><%= @team.position %></h5>

          <div class="bio-image">
            <%= image_tag @team.image %>
          </div>

          <div class="web-line">
            <a href="<%=@team.detail_page_website_url %>"><i class="fa fa-globe"></i><%=h @team.detail_page_website_text%></a>
          </div>

          <div class="social-line">
            <%= link_to '',@team.facebook_url, class:'social-facebook' %>
            <%= link_to '',@team.twitter_url, class:'social-twitter' %>
            <%= link_to '',@team.gplus_url, class:'social-gplus' %>
            <%= link_to '',@team.dribble_url, class:'social-dribbble' %>
            <%= link_to '',@team.github_url, class:'social-github' %>

          </div>
        </div>

        <div class="bio-box">
          <h6>Bio</h6>
          <%
             @team.detail_page_bio.split(',').each do |bio_paragraph|
                  next if(bio_paragraph.blank?)
          %>
            <p><%=h bio_paragraph%></p>
              <%
             end
          %>
          <p>As a partner of ASDF, John keeps an eye toward emerging technologies and their effects on software development. This keeps ASDF on the cutting edge in a very competitive marketplace. John's future in technology started when his father brought home his first computer in 1980. Immediately John began programming his own games at age 8. After several years of research and development he started his first consulting company at age 16. He attended California Maritime Academy for his degree in Business Administration and then finished up with Computer Information Systems at DeVry Long Beach.</p>
          <p>While in college he was recruited to lead development for a new digital asset management division at Insync.Media. He designed and built asset management systems for Sony Pictures Entertainment, DirecTV, Warner Bros Home Video, Herbalife, Toyota and California Suncare. With the Internet boom going on, John returned to the Silicon Valley to build a development team at Broadchoice focused on building web applications for venture capital firms such as Accel Partners and KKR. When the boom died down, John returned to Southern California as CTO of ad2 and built web applications for global 2000 companies. Several years later John co-founded Calisto Labs to focus on incubating and marketing new technology. Since then John has been involved in different startups while managing a software development company. As 2014 came around John and the rest of the ASDF team decided to solidify their partnership and start the Association of Software Development Fanatics with his focus on big data in extremely scalable environments.</p>
        </div>

        <br class="clearBoth name-bio-clear" />
      </div>

      <div class="second-box-line">
        <div class="blog-box">
          <h6>Blog Posts</h6>
          <div class="related-posts">
            <div class="related-post">
              <a class="post-link" data-text="Nullam fermentum tempor egestas mauris. Nullam fermentum tempor egestas mauris." href="#"><i class="fa fa-circle-o"></i><span>Nullam fermentum tempor egestas mauris. Nullam fermentum tempor egestas mauris.</span></a>
              <div class="post-age">30m</div>

              <br class="clearBoth" />
            </div>


          </div>

          <div class="button-wrapper">
            <a href="#">More Posts</a>
          </div>
        </div>

        <div class="slider-box">
          <h6>Projects</h6>

          <div class="slider-navigation">
            <div class="navigation-previous-container">
              <a href="#" class="navigation-previous"><i class="fa fa-angle-left"></i></a>
            </div>

            <div class="navigation-viewport">
              <div class="navigation-items">
                <!--iterate sliders-->
                <%
                   @team.team_sliders.order('team_sliders.order').each do |team_slider, index|
                %>

                <div class="navigation-item <%= 'current' if index=0%>">
                  <%=link_to team_slider.work_short_link, :class=>'image-link' do%>
                    <%= image_tag team_slider.image %>
                  <% end %>
                  <h2>
                    <%=link_to team_slider.title, team_slider.team%>
                  </h2>
                  <h3>
                    <%= link_to team_slider.website_text, team_slider.website_link %>
                  </h3>
                </div>
                <% end %>
                <!--iterate ends-->
              </div>

              <div class="navigation-left-fade"></div>
              <div class="navigation-right-fade"></div>
            </div>

            <div class="navigation-next-container">
              <a href="#" class="navigation-next"><i class="fa fa-angle-right"></i></a>
            </div>

            <br class="clearBoth navi-clear" />
          </div>
        </div>

        <br class="clearBoth blog-slider-clear" />
      </div>
    </div>
  </div>
</section>