<%= form_for @service, url:{action:"new"} do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% @service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :short_link %><br>
    <%= f.text_field :short_link %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :order %><br>
    <%= f.number_field :order %>
  </div>
  <div class="field">
    <%= f.label :homepage_icon %><br>
    <%= f.text_field :homepage_icon %>
  </div>
  <div class="field">
    <%= f.label :homepage_icon_hover %><br>
    <%= f.text_field :homepage_icon_hover %>
  </div>
  <div class="field">
    <%= f.label :homepage_description %><br>
    <%= f.text_field :homepage_description %>
  </div>
  <div class="field">
    <%= f.label :detail_top_description %><br>
    <%= f.text_field :detail_top_description %>
  </div>
  <div class="field">
    <%= f.label :detail_icon_css_class %><br>
    <%= f.text_field :detail_icon_css_class %>
  </div>
  <div class="field">
    <%= f.label :detail_first_heading %><br>
    <%= f.text_field :detail_first_heading %>
  </div>
  <div class="field">
    <%= f.label :detail_first_paragraph %><br>
    <%= f.text_field :detail_first_paragraph %>
  </div>
  <div class="field">
    <%= f.label :detail_second_heading %><br>
    <%= f.text_field :detail_second_heading %>
  </div>
  <div class="field">
    <%= f.label :detail_second_paragraph %><br>
    <%= f.text_field :detail_second_paragraph %>
  </div>
  <div class="field">
    <%= f.label :detail_third_heading %><br>
    <%= f.text_field :detail_third_heading %>
  </div>
  <div class="field">
    <%= f.label :detail_third_paragrah %><br>
    <%= f.text_field :detail_third_paragrah %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
