<div class="home-box">
  <%= image_tag service.homepage_icon,class:'home-box-image'%>
  <%= image_tag service.homepage_icon_hover,class:'home-box-image-hover'%>
  <h4><%= service.name %></h4>
  <p><%=h service.homepage_description %></p>

  <div class="button-wrapper">
    <%= link_to 'Learn More', service %>
  </div>
</div>