<section id="service-detail-top">
  <div class="wrapper">
    <h1><%= @service.name%></h1>

    <div class="more-services state-closed">
      <div class="dropdown-button">
        More Services<i class="fa fa-caret-down"></i>
        <div class="dropdown-flap">
          <%  @services.each do |service| %>
              <%=link_to service.name,service,:class=>'dropdown-item' %>
          <% end %>
        </div>
      </div>
    </div>

    <p><%=h @service.detail_top_description%></p>
  </div>
</section>

<section id="service-detail-split">
  <div class="wrapper">
    <div class="service-icon <%= @service.detail_icon_css_class%>"></div>

    <div class="content-columns">
      <div class="text-columns">
        <div class="top-left-column">
          <h2><%= @service.detail_first_heading %></h2>
          <p><%= @service.detail_first_paragraph %></p>
        </div>

        <div class="top-right-column">
          <h2><%= @service.detail_second_heading %></h2>
          <p><%= @service.detail_second_paragraph %></p>
        </div>

        <br class="clearBoth column-clear" />

        <div class="bottom-column">
          <h2><%= @service.detail_third_heading%></h2>
          <p><%= @service.detail_third_paragrah%></p>
        </div>
      </div>

      <div class="slider-column">
        <!-- serivce slider -->
        <div class="active-display">
          <div class="active-display-item">
            <!-- <%= image_tag 'slider-sample.jpg'%> -->
          </div>
        </div>

        <div class="slider-navigation">
          <div class="navigation-previous-container">
            <a href="#" class="navigation-previous"><i class="fa fa-angle-left"></i></a>
          </div>

          <div class="navigation-viewport">
            <div class="navigation-items">
              <!-- iterate sliders-->
              <% @service.service_sliders.each do |service_slider,index|
                  if index == 0
                    link_class ='navigation-item current'
                  else
                    link_class ='navigation-item'
                  end
               %>
                  <%= link_to '#',:class=>(link_class) do %>
                    <%= image_tag service_slider.navigation_image %>
                  <% end %>
              <% end %>
              <!-- iterate ends-->
            </div>

            <div class="navigation-left-fade"></div>
            <div class="navigation-right-fade"></div>
          </div>

          <div class="navigation-next-container">
            <a href="#" class="navigation-next"><i class="fa fa-angle-right"></i></a>
          </div>

          <br class="clearBoth navi-clear" />
        </div>
      </div>

      <br class="clearBoth" />
    </div>
  </div>
</section>

<section id="service-detail-bottom">
  <div class="wrapper">
    <div class="related-blog-box">
      <h6>Related Blog Posts</h6>

      <div class="related-posts">
        <div class="related-post">
          <a class="post-link" data-text="Nullam fermentum tempor egestas mauris. Nullam fermentum tempor egestas mauris." href="#"><i class="fa fa-circle-o"></i><span>Nullam fermentum tempor egestas mauris. Nullam fermentum tempor egestas mauris.</span></a>
          <div class="post-age">30m</div>

          <br class="clearBoth" />
        </div>

        <div class="related-post">
          <a class="post-link" data-text="Nullam fermentum tempor egestas mauris. Nullam fermentum tempor egestas mauris." href="#"><i class="fa fa-circle-o"></i><span>Nullam fermentum tempor egestas mauris. Nullam fermentum tempor egestas mauris.</span></a>
          <div class="post-age">30m</div>

          <br class="clearBoth" />
        </div>

        <div class="related-post">
          <a class="post-link" data-text="Nullam fermentum tempor egestas mauris. Nullam fermentum tempor egestas mauris." href="#"><i class="fa fa-circle-o"></i><span>Nullam fermentum tempor egestas mauris. Nullam fermentum tempor egestas mauris.</span></a>
          <div class="post-age">30m</div>

          <br class="clearBoth" />
        </div>

        <div class="related-post">
          <a class="post-link" data-text="Nullam fermentum tempor egestas mauris. Nullam fermentum tempor egestas mauris." href="#"><i class="fa fa-circle-o"></i><span>Nullam fermentum tempor egestas mauris. Nullam fermentum tempor egestas mauris.</span></a>
          <div class="post-age">30m</div>

          <br class="clearBoth" />
        </div>

        <div class="related-post">
          <a class="post-link" data-text="Nullam fermentum tempor egestas mauris. Nullam fermentum tempor egestas mauris." href="#"><i class="fa fa-circle-o"></i><span>Nullam fermentum tempor egestas mauris. Nullam fermentum tempor egestas mauris.</span></a>
          <div class="post-age">30m</div>

          <br class="clearBoth" />
        </div>

      </div>

      <div class="button-wrapper">
        <a href="blog.html">Visit Our Blog</a>
      </div>
    </div>

    <div class="get-in-touch-box">
      <h6>Get In Touch</h6>
      <%= form_for(@contact) do |f| %>
          <div class="field-columns">
              <div class="left-column">
                <%= f.text_field :full_name,:class=>'field-textbox', :placeholder=>'First & Last Name' %>
                <%= f.text_field :company,:class=>'field-textbox', :placeholder=>'Company (optional)' %>
                <%= f.text_field :email,:class=>'field-textbox', :placeholder=>'Email Address' %>
                <%= f.text_field :subject,:class=>'field-textbox', :placeholder=>'Subject' %>
              </div>

              <div class="right-column">
                <%= f.text_area :message, :class=>'field-textarea',:placeholder =>'Message...' %>
              </div>

              <br class="clearBoth field-clear" />
          </div>

          <div class="button-wrapper">
            <%= link_to 'Try Out Project Planner', new_project_planner_path, :class=>'project-planner-button' %>
            <a class="mail-button" href="#" id="submitForm">Submit</a>
          </div>
      <% end %>
    </div>

    <br class="clearBoth" />
  </div>
</section>
