    <% if home_slider.layout == 'slide-intro-layout' %>
        <div class="slide slide-intro-layout">
          <h1><%=h home_slider.title %></h1>
          <p><%=h home_slider.description %></p>
        </div>
    <% else %>
        <div class="slide slide-column-layout">
          <div class="slide-left-column">
            <h6>Featured Project</h6>
            <h1><%=h home_slider.title %></h1>
            <div class="mobile-ipad-frame">
              <!--<img class="frame-image" src="/img/homepage-slider-ipad-frame.png" />
              <img class="display-image" src="/img/homepage-slider-sample.jpg" />-->
              <%= image_tag 'homepage-slider-ipad-frame.png', class:'frame-image' %>
              <%= image_tag 'homepage-slider-sample.jpg', class:'display-image' %>

            </div>
            <p><%=h home_slider.description %></p>
            <div class="slide-button-wrapper">
              <!--<a href="work-detail.html" class="view-project-button">View Project</a>-->
              <%= link_to 'View Project', home_slider.link,class:'view-project-button'%>

              <div class="slide-tags-wrapper">
                <% home_slider.tags.split(',').each do |tag|
                  service = @services.where(short_link: tag.strip).first
                %>
                    <% unless service.blank?%>
                        <%= link_to service.name,service %>
                    <% end %>
                <% end %>
              </div>

            </div>
          </div>
          <div class="slide-right-column">
            <div class="ipad-frame">
              <!--<img class="frame-image" src="/img/homepage-slider-ipad-frame.png" />
              <img class="display-image" src="/img/homepage-slider-sample.jpg" />-->
              <%= image_tag 'homepage-slider-ipad-frame.png', class:'frame-image' %>
              <%= image_tag home_slider.image, class:'display-image' %>
            </div>
          </div>
          <br class="clearBoth slide-column-clear" />
        </div>
    <% end %>