<section id="slider-area">
  <div class="wrapper">
    <div id="slider" data-slider-identity="homepage">
      <div class="slide-container">
        <!-- iterate all sliders-->
        <%= render @home_sliders %>
        <!-- ends slider iterate ends-->
      </div>
    </div>
  </div>

  <div class="wrapper button-wrapper">
    <div class="slider-buttons" data-slider-link="homepage">
      <a href="#" class="slider-button">&nbsp;</a>
      <a href="#" class="slider-button">&nbsp;</a>
    </div>
  </div>
</section>
