<p id="notice"><%= notice %></p>

<p>
  <strong>Layout:</strong>
  <%= @home_slider.layout %>
</p>

<p>
  <strong>Title:</strong>
  <%= @home_slider.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @home_slider.description %>
</p>

<p>
  <strong>Link:</strong>
  <%= @home_slider.link %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @home_slider.tags %>
</p>

<p>
  <strong>Image:</strong>
  <%= @home_slider.image %>
</p>

<%= link_to 'Edit', edit_home_slider_path(@home_slider) %> |
<%= link_to 'Back', home_sliders_path %>
