<%= form_for(@work) do |f| %>
  <% if @work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work.errors.count, "error") %> prohibited this work from being saved:</h2>

      <ul>
      <% @work.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :short_link %><br>
    <%= f.text_field :short_link %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :tags %><br>
    <%= f.text_field :tags %>
  </div>
  <div class="field">
    <%= f.label :order %><br>
    <%= f.number_field :order %>
  </div>
  <div class="field">
    <%= f.label :list_page_description %><br>
    <%= f.text_field :list_page_description %>
  </div>
  <div class="field">
    <%= f.label :detail_page_link_text %><br>
    <%= f.text_field :detail_page_link_text %>
  </div>
  <div class="field">
    <%= f.label :detail_page_link_url %><br>
    <%= f.text_field :detail_page_link_url %>
  </div>
  <div class="field">
    <%= f.label :detail_page_description %><br>
    <%= f.text_field :detail_page_description %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
