<div class="work-entry">
  <div class="thumbnail-container">
    <%= image_tag work.image %>
  </div>

  <div class="content-container">
    <h2><%= work.title %></h2>
    <p><%=h work.list_page_description %></p>
    <div class="meta-container">

      <%= link_to 'View Project',work %>
      <div class="tags-container">
        <% work.tags.split(',').each do |tag|
            service = @services.where(short_link: tag).first
        %>
            <% unless service.blank?%>
                <%= link_to service.name,service %>
             <% end %>
        <% end %>

      </div>
    </div>

    <div class="meta-container-mobile">
      <div class="tags-container-mobile">
        <% work.tags.split(',').each do |tag|
          service = @services.where(short_link: tag).first
        %>
            <% unless service.blank?%>
                <%= link_to service.name,service %>
            <% end %>
        <% end %>
      </div>
      <%= link_to 'View Project', work %>
      <br class="clearBoth" />
    </div>
  </div>
  <br class="clearBoth" />
</div>