<section id="work-top">
  <div class="wrapper">
    <h1>Our Work</h1>

    <div class="get-in-touch">
      <span>Like what you see?</span>
      <a href="<%= new_contact_path%>">Get In Touch</a>
    </div>

    <br class="clearBoth touch-clear" />
  </div>
</section>

<section id="work-listing">
  <div class="wrapper">
    <!-- iterate all works-->
    <%= render @works %>
    <!--iterate ends -->
  </div>
</section>