<section id="work-detail-top">
  <div class="wrapper">
    <h1><a href="<%= works_path%>"><i class="fa fa-angle-double-left"></i>Back to Our Work</a></h1>

    <div class="get-in-touch">
      <span>Like what you see?</span>
      <a href="<%= new_contact_path%>">Get In Touch</a>
    </div>

    <br class="clearBoth" />
  </div>
</section>

<section id="work-detail-area">
  <div class="wrapper">
    <div class="work-detail-box">
      <div class="detail-meta">
        <div class="detail-title">
          <h2><%= @work.title %></h2>
          <h3><a href="<%= @work.detail_page_link_url%>"><%=@work.detail_page_link_text%></a></h3>
        </div>

        <div class="detail-tags">
          <% @work.tags.split(',').each do |tag|
            service = @services.where(short_link: tag).first
          %>
              <% unless service.blank?%>
                  <%= link_to service.name,service %>
              <% end %>
          <% end %>
        </div>

        <br class="clearBoth meta-clear" />
      </div>
      <div class="detail-info">
        <p><%=h @work.detail_page_description%></p>
      </div>
    </div>
  </div>
</section>

<section id="work-detail-gallery">
  <div class="wrapper">
    <div id="work-detail-gallery-inner">
      <div class="gallery-active-viewport">
        <div class="gallery-active-viewport-item" style="display: block">
          <%= image_tag 'work/detail/sample.jpg'%>
        </div>
      </div>

      <div class="gallery-navigation">
        <div class="gallery-navigation-previous-container">
          <a href="#" class="gallery-navigation-previous"><i class="fa fa-angle-up"></i><i class="fa fa-angle-left"></i></a>
        </div>

        <div class="gallery-navigation-viewport">
          <div class="gallery-navigation-items">
            <!--iterate work sliders for work-->
            <% @work.work_sliders.order('work_sliders.order').each do |work_slider,index|
                if index == 0
                    link_class= 'gallery-navigation-item current'
                else
                   link_class ='gallery-navigation-item'
                end
            %>
                <%= link_to work_slider.navigation_url, :class=>(link_class) do %>
                    <%= image_tag work_slider.navigation_image %>
                <% end %>
            <% end %>
            <!-- iterate ends -->
          </div>

          <div class="gallery-navigation-top-fade"></div>
          <div class="gallery-navigation-bottom-fade"></div>
          <div class="gallery-navigation-left-fade"></div>
          <div class="gallery-navigation-right-fade"></div>
        </div>

        <div class="gallery-navigation-next-container">
          <a href="#" class="gallery-navigation-next"><i class="fa fa-angle-down"></i><i class="fa fa-angle-right"></i></a>
        </div>

        <br class="clearBoth navi-clear" />
      </div>

      <br class="clearBoth gallery-clear" />
    </div>
  </div>
</section>
