<section id="client-logos">
  <div class="wrapper">
    <div class="client-logo"><%=image_tag 'nike-icon.png'%></div>
    <div class="client-logo"><%=image_tag 'cleveland-icon.png'%></div>
    <div class="client-logo"><%=image_tag 'scion-icon.png'%></div>
    <div class="client-logo"><%=image_tag 'sanyo-icon.png'%></div>
    <div class="client-logo"><%=image_tag 'cts-icon.png'%></div>
    <div class="client-logo"><%=image_tag 'robb-report-icon.png'%></div>
    <div class="client-logo"><%=image_tag 'ims-icon.png'%></div>
    <div class="client-logo"><%=image_tag 'wells-fargo-icon.png'%></div>
    <br class="clearBoth" />
  </div>
</section>