<h1>Listing service_sliders</h1>

<table>
  <thead>
    <tr>
      <th>Service short description</th>
      <th>Order</th>
      <th>Active class</th>
      <th>Active html</th>
      <th>Navigation image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @service_sliders.each do |service_slider| %>
      <tr>
        <td><%= service_slider.service_short_description %></td>
        <td><%= service_slider.order %></td>
        <td><%= service_slider.active_class %></td>
        <td><%= service_slider.active_html %></td>
        <td><%= service_slider.navigation_image %></td>
        <td><%= link_to 'Show', service_slider %></td>
        <td><%= link_to 'Edit', edit_service_slider_path(service_slider) %></td>
        <td><%= link_to 'Destroy', service_slider, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service slider', new_service_slider_path %>
