<p id="notice"><%= notice %></p>

<p>
  <strong>Service short description:</strong>
  <%= @service_slider.service_short_description %>
</p>

<p>
  <strong>Order:</strong>
  <%= @service_slider.order %>
</p>

<p>
  <strong>Active class:</strong>
  <%= @service_slider.active_class %>
</p>

<p>
  <strong>Active html:</strong>
  <%= @service_slider.active_html %>
</p>

<p>
  <strong>Navigation image:</strong>
  <%= @service_slider.navigation_image %>
</p>

<%= link_to 'Edit', edit_service_slider_path(@service_slider) %> |
<%= link_to 'Back', service_sliders_path %>
