<section id="contact-top">
  <div class="wrapper">
    <h1>Contact Us</h1>

    <div class="phone-wrapper">
      <a class="number-box" href="#"><i class="fa fa-phone"></i>(310) 707 - 3289</a><span>Give us a call!</span>
    </div>

    <div class="button-wrapper">
      <!--<a href="project-planner.html">Try Out Project Planner</a>-->
      <%= link_to 'Try Out Project Planner',new_project_planner_path %>
    </div>
  </div>
</section>

<section id="contact-area">
  <div class="wrapper">
    <div class="contact-box">
      <h6>Lets Get In Touch!</h6>

      <%= form_for @contact,url: {action: "new"} do |f| %>
          <% if @contact.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

                <ul>
                  <% @contact.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>
        <div class="field-columns">
          <div class="left-column">
            <%= f.text_field :full_name,:class=>'field-textbox', :placeholder=>'First & Last Name' %>
            <%= f.text_field :company,:class=>'field-textbox', :placeholder=>'Company (optional)' %>
            <%= f.text_field :email,:class=>'field-textbox', :placeholder=>'Email Address' %>
            <%= f.text_field :subject,:class=>'field-textbox', :placeholder=>'Subject' %>
          </div>

          <div class="right-column">
            <%= f.text_area :message, :class=>'field-textarea',:placeholder =>'Message...' %>
          </div>

          <br class="clearBoth field-clear" />
        </div>

        <div class="button-wrapper">
          <%= f.submit 'Send Mail',:class=>'mail-button' %>
        </div>
      <% end %>
    </div>
  </div>
</section>

<section id="contact-map-area">
  <div class="wrapper">
    <div class="map-holder">
      <!--<img src="/img/contact-map.png" /-->
      <%= image_tag 'contact-map.png'%>
    </div>
  </div>
</section>