<%= form_for(@page_meta_info) do |f| %>
  <% if @page_meta_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page_meta_info.errors.count, "error") %> prohibited this page_meta_info from being saved:</h2>

      <ul>
      <% @page_meta_info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :uri %><br>
    <%= f.text_field :uri %>
  </div>
  <div class="field">
    <%= f.label :keywords %><br>
    <%= f.text_field :keywords %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
