<h1>Listing page_meta_infos</h1>

<table>
  <thead>
    <tr>
      <th>Uri</th>
      <th>Keywords</th>
      <th>Description</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @page_meta_infos.each do |page_meta_info| %>
      <tr>
        <td><%= page_meta_info.uri %></td>
        <td><%= page_meta_info.keywords %></td>
        <td><%= page_meta_info.description %></td>
        <td><%= page_meta_info.title %></td>
        <td><%= link_to 'Show', page_meta_info %></td>
        <td><%= link_to 'Edit', edit_page_meta_info_path(page_meta_info) %></td>
        <td><%= link_to 'Destroy', page_meta_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Page meta info', new_page_meta_info_path %>
