<p id="notice"><%= notice %></p>

<p>
  <strong>Uri:</strong>
  <%= @page_meta_info.uri %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @page_meta_info.keywords %>
</p>

<p>
  <strong>Description:</strong>
  <%= @page_meta_info.description %>
</p>

<p>
  <strong>Title:</strong>
  <%= @page_meta_info.title %>
</p>

<%= link_to 'Edit', edit_page_meta_info_path(@page_meta_info) %> |
<%= link_to 'Back', page_meta_infos_path %>
