<%= form_for(@work_slider) do |f| %>
  <% if @work_slider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work_slider.errors.count, "error") %> prohibited this work_slider from being saved:</h2>

      <ul>
      <% @work_slider.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :work_short_description %><br>
    <%= f.text_field :work_short_description %>
  </div>
  <div class="field">
    <%= f.label :order %><br>
    <%= f.number_field :order %>
  </div>
  <div class="field">
    <%= f.label :navigation_image %><br>
    <%= f.text_field :navigation_image %>
  </div>
  <div class="field">
    <%= f.label :navigation_url %><br>
    <%= f.text_field :navigation_url %>
  </div>
  <div class="field">
    <%= f.label :active_class %><br>
    <%= f.text_field :active_class %>
  </div>
  <div class="field">
    <%= f.label :active_html %><br>
    <%= f.text_area :active_html %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
