<h1>Listing work_sliders</h1>

<table>
  <thead>
    <tr>
      <th>Work short description</th>
      <th>Order</th>
      <th>Navigation image</th>
      <th>Navigation url</th>
      <th>Active class</th>
      <th>Active html</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @work_sliders.each do |work_slider| %>
      <tr>
        <td><%= work_slider.work_short_description %></td>
        <td><%= work_slider.order %></td>
        <td><%= work_slider.navigation_image %></td>
        <td><%= work_slider.navigation_url %></td>
        <td><%= work_slider.active_class %></td>
        <td><%= work_slider.active_html %></td>
        <td><%= link_to 'Show', work_slider %></td>
        <td><%= link_to 'Edit', edit_work_slider_path(work_slider) %></td>
        <td><%= link_to 'Destroy', work_slider, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Work slider', new_work_slider_path %>
