<p id="notice"><%= notice %></p>

<p>
  <strong>Work short description:</strong>
  <%= @work_slider.work_short_description %>
</p>

<p>
  <strong>Order:</strong>
  <%= @work_slider.order %>
</p>

<p>
  <strong>Navigation image:</strong>
  <%= @work_slider.navigation_image %>
</p>

<p>
  <strong>Navigation url:</strong>
  <%= @work_slider.navigation_url %>
</p>

<p>
  <strong>Active class:</strong>
  <%= @work_slider.active_class %>
</p>

<p>
  <strong>Active html:</strong>
  <%= @work_slider.active_html %>
</p>

<%= link_to 'Edit', edit_work_slider_path(@work_slider) %> |
<%= link_to 'Back', work_sliders_path %>
