<%= form_for(@page_setting) do |f| %>
  <% if @page_setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page_setting.errors.count, "error") %> prohibited this page_setting from being saved:</h2>

      <ul>
      <% @page_setting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
