<h1>Listing page_settings</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @page_settings.each do |page_setting| %>
      <tr>
        <td><%= link_to 'Show', page_setting %></td>
        <td><%= link_to 'Edit', edit_page_setting_path(page_setting) %></td>
        <td><%= link_to 'Destroy', page_setting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Page setting', new_page_setting_path %>
