$blueprint-grid-columns : 24;
$blueprint-grid-width   : 30px;
$blueprint-grid-margin  : 10px;
$font-color             : #333;

@import 'compass';

@import 'compass/reset';
@import 'compass/css3';

@import "compass/css3/images";
@import "compass/utilities";
@import "blueprint";
@import 'font-awesome/font-awesome';
