html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearBoth {
  clear: both;
}

html,body {
  background: #272A2F;
}

#page {
  position: relative;
  font-family: 'Open Sans', sans-serif;

  a {
    outline: none;
  }

  input, textarea {
    font-family: 'Open Sans', sans-serif;
    outline: none;
    -webkit-appearance: none;
  }

  .wrapper {
    box-sizing: border-box;
    padding: 0 20px;
    margin: 0px auto;
    position: relative;
  }

  @media only screen
  and (min-width: 1322px) {
    .wrapper {
      width: 1282px;
      padding: 0;
    }
  }
}

