// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
#page.contact {
  #contact-top {
    margin-top: 131px;
    margin-bottom: 131px;
    position: relative;

    @media only screen
    and (min-width: 771px)
    and (max-width: 980px) {
      margin-top: 101px;
      margin-bottom: 101px;
    }

    @media only screen
    and (min-width: 501px)
    and (max-width: 770px) {
      margin-top: 51px;
      margin-bottom: 51px;
    }

    @media only screen
    and (max-width: 500px) {
      margin-top: 51px;
      margin-bottom: 51px;
    }

    h1 {
      text-align: center;
      color: #ffffff;
      text-transform: uppercase;
      font-size: 48px;
      font-weight: bold;
    }

    .phone-wrapper {
      line-height: 48px;
      float: left;
      margin-top: -48px;
      display: inline-block;

      .number-box {
        display: inline-block;
        line-height: 37px;
        background: #1d2024;
        padding: 0 10px;
        color: #ffffff;
        font-size: 12px;
        font-weight: bold;
        border-radius: 4px;
        text-decoration: none;

        .fa-phone {
          margin-right: 7px;
          color: #28b84e;
          font-weight: bold;
        }
      }

      span {
        display: inline-block;
        color: #ffffff;
        margin-left: 16px;
        font-size: 12px;
        font-weight: bold;
      }
    }

    .button-wrapper {
      line-height: 48px;
      float: right;
      margin-top: -48px;
      display: inline-block;

      a {
        display: inline-block;
        line-height: 37px;
        background: #ed3b3b;
        border-radius: 4px;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 12px;
        font-weight: bold;
        padding: 0 11px;
        color: #ffffff;
      }
    }

    @media only screen
    and (min-width: 771px)
    and (max-width: 980px) {
      h1 {
        font-size: 37px;
        line-height: 37px;
      }

      .phone-wrapper {
        line-height: 37px;
        margin-top: -37px;
      }

      .button-wrapper {
        line-height: 37px;
        margin-top: -37px;
      }
    }

    @media only screen
    and (min-width: 501px)
    and (max-width: 770px) {
      h1 {
        font-size: 42px;
      }

      .phone-wrapper {
        line-height: 37px;
        float: none;
        display: block;
        margin-top: 12px;
        text-align: center;
      }

      .button-wrapper {
        line-height: 37px;
        float: none;
        display: block;
        margin-top: 12px;
        text-align: center;
      }
    }

    @media only screen
    and (max-width: 500px) {
      h1 {
        font-size: 37px;
      }

      .phone-wrapper {
        line-height: 37px;
        float: none;
        display: block;
        margin-top: 12px;
        text-align: center;
      }

      .button-wrapper {
        line-height: 37px;
        float: none;
        display: block;
        margin-top: 12px;
        text-align: center;
      }
    }
  }

  #contact-area {
    margin-bottom: 200px;

    @media only screen
    and (min-width: 771px)
    and (max-width: 980px) {
      margin-bottom: 100px;
    }

    @media only screen
    and (min-width: 501px)
    and (max-width: 770px) {
      margin-bottom: 50px;
    }

    @media only screen
    and (max-width: 500px) {
      margin-bottom: 30px;
    }

    .contact-box {
      box-sizing: border-box;

      h6 {
        color: #ffffff;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 21px;
      }

      .field-textbox {
        background: #40444a;
        border-radius: 4px;
        display: block;
        height: 70px;
        border: 0;
        padding: 0 26px;
        box-sizing: border-box;
        color: #7c8188;
        font-weight: 400;
        font-size: 22px;
        width: 100%;
        margin-bottom: 12px;
        -webkit-box-shadow: 0px 3px 0px 0px rgba(29,32,36,1);
        -moz-box-shadow: 0px 3px 0px 0px rgba(29,32,36,1);
        box-shadow: 0px 3px 0px 0px rgba(29,32,36,1);

        &::input-placeholder {
          color: #7c8188;
          opacity: 1;
        }

        &::-webkit-input-placeholder {
          color: #7c8188;
          opacity: 1;
        }

        &::-moz-placeholder {
          color: #7c8188;
          opacity: 1;
        }

        &:-moz-placeholder {
          color: #7c8188;
          opacity: 1;
        }

        &:-ms-input-placeholder {
          color: #7c8188;
          opacity: 1;
        }
      }

      .field-textarea {
        resize: none;
        width: 100%;
        display: block;
        padding: 20px 20px;
        box-sizing: border-box;
        border: 0;
        background: #40444a;
        font-weight: 400;
        color: #7c8188;
        font-size: 22px;
        border-radius: 4px;
        -webkit-box-shadow: 0px 3px 0px 0px rgba(29,32,36,1);
        -moz-box-shadow: 0px 3px 0px 0px rgba(29,32,36,1);
        box-shadow: 0px 3px 0px 0px rgba(29,32,36,1);

        &::input-placeholder {
          color: #7c8188;
          opacity: 1;
        }

        &::-webkit-input-placeholder {
          color: #7c8188;
          opacity: 1;
        }

        &::-moz-placeholder {
          color: #7c8188;
          opacity: 1;
        }

        &:-moz-placeholder {
          color: #7c8188;
          opacity: 1;
        }

        &:-ms-input-placeholder {
          color: #7c8188;
          opacity: 1;
        }
      }

      .field-columns {
        margin-top: 26px;

        .left-column {
          float: left;
          width: 49.1%;

          .field-textbox {
            &:last-child {
              margin-bottom: 0;
            }
          }
        }

        .right-column {
          float: right;
          width: 49.1%;

          .field-textarea {
            height: 316px;
          }
        }
      }

      .button-wrapper {
        font-size: 0;
        text-align: right;
        margin-top: 23px;

        .mail-button {
          line-height: 47px;
          display: inline-block;
          padding: 0 34px;
          background: #3bbded;
          border: 0;
          cursor: pointer;
          color: #ffffff;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 16px;
          font-weight: bold;
          border-radius: 4px;
          box-sizing: border-box;
        }
      }
    }

    @media only screen
    and (min-width: 541px)
    and (max-width: 900px) {
      .contact-box {
        .field-textbox {
          font-size: 16px;
          padding: 0 16px;
          height: 41px;
        }

        .field-columns {
          .right-column {
            .field-textarea {
              height: 200px;
              font-size: 16px;
              padding: 10px 16px;
            }
          }
        }

        .button-wrapper {
          .mail-button {
            line-height: 29px;
            padding: 0 12px;
            font-size: 14px;
          }
        }
      }
    }

    @media only screen
    and (max-width: 540px) {
      .contact-box {
        .field-textbox {
          font-size: 16px;
          padding: 0 16px;
          height: 41px;
        }

        .field-columns {
          .left-column {
            float: none;
            width: auto;
          }

          .right-column {
            float: none;
            width: auto;
            margin-top: 12px;

            .field-textarea {
              height: 200px;
              font-size: 16px;
              padding: 10px 16px;
            }
          }

          .field-clear {
            display: none;
          }
        }

        .button-wrapper {
          margin-top: 12px;

          .mail-button {
            line-height: 29px;
            padding: 0 12px;
            font-size: 14px;
          }
        }
      }
    }
  }

  #contact-map-area {
    background: #222428;

    .map-holder {
      max-width: 950px;
      margin: 0 auto;
      padding: 120px 0;

      @media only screen
      and (min-width: 771px)
      and (max-width: 980px) {
        padding: 80px 0;
      }

      @media only screen
      and (min-width: 501px)
      and (max-width: 770px) {
        padding: 40px 0;
      }

      @media only screen
      and (max-width: 500px) {
        padding: 30px 0;
      }

      img {
        width: 100%;
      }
    }
  }
}