#page.home-page {
  #client-logos {
    margin-top: 84px;
    margin-bottom: 126px;
    opacity: 0.5;

    @media only screen
    and (min-width: 1041px)
    and (max-width: 1170px) {
      margin-top: 64px;
      margin-bottom: 64px;
    }

    @media only screen
    and (min-width: 781px)
    and (max-width: 1040px) {
      margin-top: 64px;
      margin-bottom: 64px;
    }

    @media only screen
    and (min-width: 621px)
    and (max-width: 780px) {
      margin-top: 44px;
      margin-bottom: 64px;
    }

    @media only screen
    and (max-width: 620px) {
      margin-top: 24px;
      margin-bottom: 44px;
    }

    .client-logo {
      float: left;
      font-size: 0;
      width: 12.5%;
      text-align: center;
    }
  }

  @media only screen
  and (min-width: 401px)
  and (max-width: 700px) {
    #client-logos {
      .client-logo {
        width: 25%;
        text-align: center;

        &:nth-child(5) {
          clear: both;
        }

        &:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(8) {
          margin-top: 20px;
        }
      }
    }
  }

  @media only screen
  and (max-width: 400px) {
    #client-logos {

      .client-logo {
        width: 50%;
        margin-top: 20px;

        &:nth-child(2n + 3) {
          clear: both;
        }

        &:nth-child(1), &:nth-child(2) {
          margin-top: 0;
        }
      }
    }
  }
}
