#page.home-page {
  #home-boxes-area {
    margin-top: 190px;

    @media only screen
    and (min-width: 781px)
    and (max-width: 1170px) {
      margin-top: 109px;
    }

    @media only screen
    and (min-width: 621px)
    and (max-width: 780px) {
      margin-top: 80px;
    }

    @media only screen
    and (max-width: 620px) {
      margin-top: 30px;
    }

    #home-boxes {
      font-size: 0;

      .home-box {
        float: left;
        background: #202328;
        border-radius: 5px;
        width: 23.5%;
        margin-right: 2%;
        margin-bottom: 22px;
        height: 420px;
        box-sizing: border-box;
        text-align: center;
        padding-top: 42px;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        position: relative;

        h4 {
          margin-top: 36px;
          font-size: 19px;
          font-weight: bold;
          text-transform: uppercase;
          color: #ffffff;
        }

        p {
          margin-top: 16px;
          font-size: 16px;
          font-weight: 100;
          color: #6b7078;
          line-height: 1.6;
          padding-left: 20px;
          padding-right: 20px;
        }

        .button-wrapper {
          position: absolute;
          left: 0;
          bottom: 27px;
          text-align: center;
          width: 100%;
          height: 37px;

          a {
            display: inline-block;
            background: #0f1215;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: bold;
            color: #ffffff;
            font-size: 12px;
            line-height: 37px;
            height: 37px;
            box-sizing: border-box;
            padding: 0 23px;
            border-radius: 4px;
          }
        }

        .home-box-image {
          display: inline;
        }

        .home-box-image-hover {
          display: none;
        }

        &:hover, &.active {
          background: #fe4444;

          p {
            color: #7a1818;
          }

          a {
            background: #ffffff;
            color: #fe4444;
          }
          .home-box-image {
            display: none;
          }

          .home-box-image-hover {
            display: inline;
          }
        }

        &:nth-child(4n) {
          margin-right: 0;
        }
      }

      @media only screen
      and (min-width: 1060px)
      and (max-width: 1250px) {
        .home-box {
          h4 {
            font-size: 16px;
          }

          p {
            font-size: 15px;
          }
        }
      }

      @media only screen
      and (min-width: 600px)
      and (max-width: 1059px) {
        .home-box {
          width: 49%;

          &:nth-child(4n) {
            margin-right: 2%;
          }

          &:nth-child(2n) {
            margin-right: 0;
          }
        }
      }

      @media only screen
      and (max-width: 599px) {
        .home-box {
          width: 100%;
          margin-right: 0;

          @media only screen
          and (max-width: 350px) {
            h4 {
              font-size: 16px;
            }

            p {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}