// Place all the styles related to the HomeSliders controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
#slider-area {
  margin-top: 179px;

  @media only screen
  and (min-width: 781px)
  and (max-width: 1170px) {
    margin-top: 109px;
  }

  @media only screen
  and (min-width: 621px)
  and (max-width: 780px) {
    margin-top: 80px;
  }

  @media only screen
  and (max-width: 620px) {
    margin-top: 40px;
  }

  .wrapper {
    #slider {
      height: 318px;
      overflow: hidden;

      .slide-container {
        width: 99999em;

        .slide {
          float: left;
          background-size: cover;
          height: 318px;
          width: 1242px;

          &.slide-column-layout {
            .slide-left-column {
              width: 60%;
              float: left;
              height: 100%;
              padding-top: 33px;

              .mobile-ipad-frame {
                display: none;
              }

              h6 {
                font-size: 10px;
                letter-spacing: 2px;
                text-transform: uppercase;
                font-weight: bold;
                color: #7e838a;
                margin-bottom: 52px;
              }

              h1 {
                font-size: 48px;
                color: #ffffff;
                text-transform: uppercase;
                font-weight: 900;
                margin-bottom: 24px;
              }

              p {
                color: #7e838a;
                font-size: 16px;
                letter-spacing: 1px;
                line-height: 1.8;
              }

              .slide-button-wrapper {
                margin-top: 45px;

                .view-project-button {
                  padding: 13px 25px;
                  border-radius: 3px;
                  float: left;
                  color: #ffffff;
                  background: #3bbded;
                  text-decoration: none;
                  text-transform: uppercase;
                  font-size: 13px;
                  font-weight: bold;
                  letter-spacing: 1px;
                }

                .slide-tags-wrapper {
                  float: left;
                  padding-top: 5px;
                  margin-left: 18px;

                  a {
                    float: left;
                    border-radius: 12px;
                    background: #1d2024;
                    line-height: 29px;
                    padding: 0 13px;
                    font-size: 12px;
                    text-transform: uppercase;
                    margin-right: 5px;
                    font-weight: bold;
                    text-decoration: none;
                    color: #ffffff;
                  }
                }
              }
            }

            .slide-right-column {
              float: right;
              width: 37%;
              height: 100%;

              .ipad-frame {
                display: inline-block;
                width: 100%;
                box-sizing: border-box;
                position: relative;

                .frame-image {
                  display: inline-block;
                  width: 100%;
                }

                .display-image {
                  position: absolute;
                  left: 10.5%;
                  top: 5.34%;
                  width: 79.2%;
                  height: 89%;
                }
              }
            }

            @media only screen
            and (min-width: 1041px)
            and (max-width: 1170px) {
              .slide-left-column {
                h6 {
                  margin-bottom: 42px;
                }

                h1 {
                  font-size: 36px;
                }

                p {
                  font-size: 14px;
                }

                .slide-button-wrapper {
                  margin-top: 35px;
                }
              }
            }

            @media only screen
            and (min-width: 781px)
            and (max-width: 1040px) {
              .slide-left-column {
                h6 {
                  margin-bottom: 32px;
                }

                h1 {
                  font-size: 28px;
                }

                p {
                  font-size: 12px;
                }

                .slide-button-wrapper {
                  margin-top: 35px;

                  .view-project-button {
                    font-size: 12px;
                  }

                  .slide-tags-wrapper {
                    a {
                      font-size: 10px;
                    }
                  }
                }
              }
            }

            @media only screen
            and (min-width: 621px)
            and (max-width: 780px) {
              .slide-left-column {
                text-align: center;
                float: none;
                width: auto;
                padding-top: 0;

                h6 {
                  margin-bottom: 16px;
                }

                h1 {
                  margin-bottom: 11px;
                  font-size: 42px;
                }

                p {
                  display: none;
                }

                .slide-button-wrapper {
                  margin-top: 11px;
                  text-align: center;

                  .view-project-button {
                    float: none;
                    display: inline-block;
                  }

                  .slide-tags-wrapper {
                    display: none;
                  }
                }

                .mobile-ipad-frame {
                  display: inline-block;
                  position: relative;
                  width: 271px;

                  .frame-image {
                    width: 100%;
                    height: 100%;
                  }

                  .display-image {
                    position: absolute;
                    left: 10.5%;
                    top: 5.34%;
                    width: 79.2%;
                    height: 89%;
                  }
                }
              }

              .slide-right-column {
                display: none;
              }

              .slide-column-clear {
                display: none;
              }
            }

            @media only screen
            and (max-width: 620px) {
              .slide-left-column {
                text-align: center;
                float: none;
                width: auto;
                padding-top: 0;

                h6 {
                  margin-bottom: 28px;
                }

                h1 {
                  margin-bottom: 26px;
                  font-size: 20px;
                }

                p {
                  display: none;
                }

                .slide-button-wrapper {
                  margin-top: 24px;
                  text-align: center;

                  .view-project-button {
                    float: none;
                    display: inline-block;
                  }

                  .slide-tags-wrapper {
                    display: none;
                  }
                }

                .mobile-ipad-frame {
                  display: inline-block;
                  position: relative;
                  width: 240px;

                  .frame-image {
                    width: 100%;
                    height: 100%;
                  }

                  .display-image {
                    position: absolute;
                    left: 10.5%;
                    top: 5.34%;
                    width: 79.2%;
                    height: 89%;
                  }
                }
              }

              .slide-right-column {
                display: none;
              }

              .slide-column-clear {
                display: none;
              }
            }
          }

          &.slide-intro-layout {
            text-align: center;

            h1 {
              margin-top: 106px;
              margin-bottom: 18px;
              color: white;
              font-size: 60px;
              font-weight: 900;
              text-transform: uppercase;
              letter-spacing: -2px;
            }

            p {
              font-weight: 100;
              color: #7e838a;
              font-size: 20px;
              letter-spacing: 2px;
              text-transform: uppercase;
            }

            @media only screen
            and (min-width: 380px)
            and (max-width: 680px) {
              h1 {
                font-size: 51px;
              }

              p {
                font-size: 17px;
              }
            }

            @media only screen
            and (max-width: 379px) {
              h1 {
                font-size: 42px;
              }

              p {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }

  .wrapper.button-wrapper {
    text-align: center;
    padding-top: 20px;

    .slider-buttons {
      background: #202328;
      border-radius: 12px;
      display: inline-block;
      padding: 10px 16px;

      a {
        text-decoration: none;
        font-size: 0;
        line-height: 8px;
        border-radius: 4px;
        background: #4d4f53;
        float: left;
        width: 8px;
        height: 8px;
        margin-right: 12px;

        &:last-child {
          margin-right: 0;
        }

        &:hover, &.active {
          background: #ffffff;
        }
      }
    }
  }
}