// Place all the styles related to the ProjectPlanners controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
#page.project-planner {
  #project-planner-top {
    margin-top: 131px;
    margin-bottom: 131px;
    position: relative;

    @media only screen
    and (min-width: 771px)
    and (max-width: 980px) {
      margin-top: 81px;
      margin-bottom: 81px;
    }

    @media only screen
    and (min-width: 501px)
    and (max-width: 770px) {
      margin-top: 61px;
      margin-bottom: 61px;
    }

    @media only screen
    and (max-width: 500px) {
      margin-top: 40px;
      margin-bottom: 40px;
    }

    h1 {
      text-align: center;
      color: #ffffff;
      text-transform: uppercase;
      font-size: 48px;
      font-weight: bold;
    }

    .phone-wrapper {
      line-height: 48px;
      float: left;
      margin-top: -48px;
      display: inline-block;

      .number-box {
        display: inline-block;
        line-height: 37px;
        background: #1d2024;
        padding: 0 10px;
        color: #ffffff;
        font-size: 12px;
        font-weight: bold;
        border-radius: 4px;
        text-decoration: none;

        .fa-phone {
          margin-right: 7px;
          color: #28b84e;
          font-weight: bold;
        }
      }

      span {
        display: inline-block;
        color: #ffffff;
        margin-left: 16px;
        font-size: 12px;
        font-weight: bold;
      }
    }

    @media only screen
    and (min-width: 771px)
    and (max-width: 980px) {
      h1 {
        font-size: 26px;
        line-height: 37px;
      }

      .phone-wrapper {
        line-height: 37px;
        margin-top: -37px;

        span {
          font-size: 11px;
        }
      }
    }

    @media only screen
    and (min-width: 501px)
    and (max-width: 770px) {
      h1 {
        font-size: 42px;
      }

      .phone-wrapper {
        line-height: 37px;
        float: none;
        display: block;
        margin-top: 12px;
        text-align: center;
      }
    }

    @media only screen
    and (max-width: 500px) {
      h1 {
        font-size: 26px;
      }

      .phone-wrapper {
        line-height: 37px;
        float: none;
        display: block;
        margin-top: 12px;
        text-align: center;
      }
    }
  }

  #planner-second-section {
    background: #222428;
    padding: 80px 0;

    @media only screen
    and (min-width: 771px)
    and (max-width: 980px) {
      padding: 60px 0;
    }

    @media only screen
    and (min-width: 501px)
    and (max-width: 770px) {
      padding: 60px 0;
    }

    @media only screen
    and (max-width: 500px) {
      padding: 30px 0;
    }
  }

  #planner-third-section {
    padding: 80px 0;

    @media only screen
    and (min-width: 771px)
    and (max-width: 980px) {
      padding: 60px 0;
    }

    @media only screen
    and (min-width: 501px)
    and (max-width: 770px) {
      padding: 60px 0;
    }

    @media only screen
    and (max-width: 500px) {
      padding: 30px 0;
    }
  }

  #planner-fourth-section {
    background: #222428;
    padding: 40px 0;
    margin-bottom: 120px;

    @media only screen
    and (min-width: 771px)
    and (max-width: 980px) {
      margin-bottom: 80px;
    }

    @media only screen
    and (min-width: 501px)
    and (max-width: 770px) {
      margin-bottom: 60px;
    }

    @media only screen
    and (max-width: 500px) {
      margin-bottom: 60px;
    }

    .legal-holder {
      float: left;
    }

    .button-holder {
      float: right;

      .submit-button {
        line-height: 47px;
        display: inline-block;
        padding: 0 23px;
        background: #3bbded;
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 19px;
        font-weight: bold;
        border-radius: 4px;
        box-sizing: border-box;
        border: 0;
        cursor: pointer;
      }
    }


    .field-checkbox {
      display: none;
    }

    .field-checkbox:checked + .legal-label:before {
      content: "\f00c";
      font-family: FontAwesome;
      color: #3bbded;
      font-size: 25px;
      text-align: center;
      line-height: 12px;
    }

    .legal-label {
      display: inline-block;
      position: relative;
      padding-left: 40px;
      line-height: 47px;
      font-weight: 400;
      color: #7c8188;
      font-size: 15px;

      &:last-child {
        margin-right: 0;
      }

      &:before {
        content: "";
        display: inline-block;
        width: 19px;
        height: 19px;
        position: absolute;
        left: 0;
        top: 11px;
        border: 3px solid #40444a;
        border-radius: 6px;

        -webkit-box-shadow: 0px 3px 0px 0px rgba(29,32,36,1);
        -moz-box-shadow: 0px 3px 0px 0px rgba(29,32,36,1);
        box-shadow: 0px 3px 0px 0px rgba(29,32,36,1);
      }
    }
  }

  .planner-section {
    font-size: 0;
    padding-bottom: 80px;

    @media only screen
    and (min-width: 771px)
    and (max-width: 980px) {
      padding-bottom: 60px;
    }

    @media only screen
    and (min-width: 501px)
    and (max-width: 770px) {
      padding-bottom: 60px;
    }

    @media only screen
    and (max-width: 500px) {
      padding-bottom: 30px;
    }

    h6 {
      color: #ffffff;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 23px;
    }

    .field-holder {
      display: inline-block;
      margin-right: 1.56%;

      .field-textbox {
        background: #40444a;
        border-radius: 4px;
        display: block;
        height: 70px;
        border: 0;
        padding: 0 26px;
        box-sizing: border-box;
        color: #7c8188;
        font-weight: 400;
        font-size: 22px;
        width: 100%;
        -webkit-box-shadow: 0px 3px 0px 0px rgba(29,32,36,1);
        -moz-box-shadow: 0px 3px 0px 0px rgba(29,32,36,1);
        box-shadow: 0px 3px 0px 0px rgba(29,32,36,1);
      }

      .field-textarea {
        resize: none;
        width: 100%;
        display: block;
        padding: 20px 20px;
        box-sizing: border-box;
        border: 0;
        background: #40444a;
        font-weight: 400;
        color: #7c8188;
        font-size: 22px;
        border-radius: 4px;
        -webkit-box-shadow: 0px 3px 0px 0px rgba(29,32,36,1);
        -moz-box-shadow: 0px 3px 0px 0px rgba(29,32,36,1);
        box-shadow: 0px 3px 0px 0px rgba(29,32,36,1);
      }

      .field-radio {
        display: none;
      }

      .field-radio:checked + .radio-label:before {
        content: "\f00c";
        font-family: FontAwesome;
        color: #3bbded;
        font-size: 25px;
        text-align: center;
        line-height: 12px;
      }

      .radio-label {
        display: inline-block;
        position: relative;
        padding-left: 40px;
        margin-bottom: 12px;
        line-height: 25px;
        font-weight: 400;
        font-size: 15px;
        margin-right: 40px;

        &:last-child {
          margin-right: 0;
        }

        &:before {
          content: "";
          display: inline-block;
          width: 19px;
          height: 19px;
          position: absolute;
          left: 0;
          top: 0;
          border: 3px solid #40444a;
          border-radius: 6px;

          -webkit-box-shadow: 0px 3px 0px 0px rgba(29,32,36,1);
          -moz-box-shadow: 0px 3px 0px 0px rgba(29,32,36,1);
          box-shadow: 0px 3px 0px 0px rgba(29,32,36,1);
        }
      }

      &.first-last-name-field-holder, &.company-name-field-holder, &.email-address-field-holder, &.launch-date-field-holder {
        width: 35%;
      }

      &.project-url-field-holder {
        width: 63.2%;
      }

      &.phone-number-field-holder {
        margin-right: 0;
        width: 26.5%;
      }

      &.referral-field-holder {
        margin-right: 0;
        width: 63.1%;
      }

      &.launch-date-field-holder {
        margin-right: 0;
      }

      &.budget-field-holder {
        margin-top: 30px;
      }

      &.first-last-name-field-holder, &.company-name-field-holder, &.phone-number-field-holder {
        margin-bottom: 30px;
      }

      &.site-concept-field-holder, &.main-objective-field-holder, &.schedule-considerations-field-holder {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;

        .field-textarea {
          height: 160px;
        }
      }

      label {
        display: block;
        color: #7c8188;
        font-weight: bold;
        font-size: 17px;
        margin-bottom: 14px;
      }
    }

    @media only screen
    and (min-width: 730px)
    and (max-width: 970px) {
      .field-holder {
        label {
          font-size: 13px;
          margin-bottom: 10px;
        }

        .radio-label {
          font-size: 13px;
        }

        &.first-last-name-field-holder, &.company-name-field-holder, &.phone-number-field-holder {
          margin-bottom: 20px;
        }

        .field-textbox {
          height: 41px;
          padding: 0 13px;
          font-size: 16px;
        }

        .field-textarea {
          font-size: 16px;
          padding: 13px;
        }

        &.site-concept-field-holder, &.main-objective-field-holder, &.schedule-considerations-field-holder {
          margin-bottom: 20px;

          .field-textarea {
            height: 100px;
          }
        }
      }

      &#planner-fourth-section {
        .button-holder {
          display: block;
          float: none;
          text-align: right;
        }
      }
    }

    @media only screen
    and (min-width: 676px)
    and (max-width: 729px) {
      .field-holder {
        label {
          font-size: 12px;
          margin-bottom: 10px;
        }

        &.first-last-name-field-holder, &.company-name-field-holder,
        &.email-address-field-holder, &.phone-number-field-holder {
          width: 49.2%;
          margin-bottom: 20px;
        }

        &.phone-number-field-holder {
          margin-right: 1.56%;
        }

        &.referral-field-holder {
          margin-right: 0;
          width: 100%;
        }

        .radio-label {
          font-size: 13px;
        }

        &.company-name-field-holder, &.email-address-field-holder {
          margin-right: 0;
        }

        .field-textbox {
          height: 41px;
          padding: 0 13px;
          font-size: 16px;
        }

        .field-textarea {
          font-size: 16px;
          padding: 13px;
        }

        &.site-concept-field-holder, &.main-objective-field-holder, &.schedule-considerations-field-holder {
          margin-bottom: 20px;

          .field-textarea {
            height: 100px;
          }
        }
      }

      &#planner-fourth-section {
        .button-holder {
          display: block;
          float: none;
          text-align: right;
        }
      }
    }

    @media only screen
    and (min-width: 501px)
    and (max-width: 675px) {
      .field-holder {
        label {
          font-size: 12px;
          margin-bottom: 10px;
        }

        &.first-last-name-field-holder, &.company-name-field-holder,
        &.email-address-field-holder, &.phone-number-field-holder {
          width: 49.2%;
          margin-bottom: 20px;
        }

        &.phone-number-field-holder {
          margin-right: 1.56%;
        }

        &.referral-field-holder {
          margin-right: 0;
          width: 100%;
        }

        .budget-label {
          line-height: 1.5;
        }

        &.project-url-field-holder {
          margin-bottom: 20px;
        }

        &.project-url-field-holder, &.launch-date-field-holder {
          width: 100%;
          margin-right: 0;
        }

        .radio-label {
          font-size: 13px;
        }

        &.company-name-field-holder, &.email-address-field-holder {
          margin-right: 0;
        }

        .field-textbox {
          height: 41px;
          padding: 0 13px;
          font-size: 16px;
        }

        .field-textarea {
          font-size: 16px;
          padding: 13px;
        }

        &.site-concept-field-holder, &.main-objective-field-holder, &.schedule-considerations-field-holder {
          margin-bottom: 20px;

          .field-textarea {
            height: 100px;
          }
        }
      }

      &#planner-fourth-section {
        .button-holder {
          display: block;
          float: none;
          text-align: right;
        }
      }
    }

    @media only screen
    and (max-width: 500px) {
      h6 {
        font-size: 16px;
        margin-bottom: 16px;
      }

      .field-holder {
        label {
          font-size: 13px;
          margin-bottom: 10px;
        }

        &.first-last-name-field-holder, &.company-name-field-holder,
        &.email-address-field-holder, &.phone-number-field-holder,
        &.referral-field-holder {
          width: 100%;
          margin-bottom: 20px;
          margin-right: 0;
        }

        &.project-url-field-holder {
          margin-bottom: 20px;
        }

        &.project-url-field-holder, &.launch-date-field-holder {
          width: 100%;
          margin-right: 0;
        }

        &.budget-field-holder {
          text-align: center;
        }

        .budget-label {
          line-height: 1.5;
          text-align: left;
        }

        .radio-label {
          font-size: 13px;
          margin-right: 20px;
        }

        .field-textbox {
          height: 41px;
          padding: 0 13px;
          font-size: 16px;
        }

        .field-textarea {
          font-size: 16px;
          padding: 13px;
        }

        &.site-concept-field-holder, &.main-objective-field-holder, &.schedule-considerations-field-holder {
          margin-bottom: 20px;

          label {
            line-height: 1.5;
          }

          .field-textarea {
            height: 100px;
          }
        }
      }

      &#planner-fourth-section {
        .button-holder {
          display: block;
          float: none;
          text-align: center;
        }
      }
    }
  }
}