// Place all the styles related to the Services controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
#page.service-detail {
  #service-detail-top {
    margin-top: 131px;
    margin-bottom: 171px;
    position: relative;

    @media only screen
    and (min-width: 961px)
    and (max-width: 1120px) {
      margin-top: 101px;
    }

    @media only screen
    and (min-width: 831px)
    and (max-width: 960px) {
      margin-top: 100px;
    }

    @media only screen
    and (min-width: 501px)
    and (max-width: 830px) {
      margin-top: 80px;
    }

    @media only screen
    and (max-width: 500px) {
      margin-top: 80px;
    }

    h1 {
      text-align: center;
      color: #ffffff;
      text-transform: uppercase;
      font-size: 48px;
      font-weight: bold;
    }

    .more-services {
      margin-top: -36px;
      float: right;
      font-size: 0;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      select {
        display: none;
      }

      .dropdown-button {
        display: inline-block;
        font-size: 11px;
        font-weight: bold;
        color: #ffffff;
        text-transform: uppercase;
        background: #1d2024;
        border-radius: 99px;
        line-height: 29px;
        padding: 0 32px;
        cursor: pointer;
        position: relative;

        .dropdown-flap {
          display: none;
          position: absolute;
          left: 0;
          top: 29px;
          width: 100%;
          background: #1d2024;
          border-radius: 0 0 13px 13px;
          padding-bottom: 6px;
          z-index: 99999;

          .dropdown-item {
            display: block;
            text-align: center;
            font-size: 11px;
            font-weight: bold;
            color: #ffffff;
            text-transform: uppercase;
            text-decoration: none;
          }
        }

        .fa-caret-down {
          margin-left: 13px;
        }
      }

      &.state-opened {
        .dropdown-button {
          border-radius: 13px 13px 0 0;

          .dropdown-flap {
            display: block;
          }
        }
      }
    }

    p {
      color: #6b7078;
      font-size: 19px;
      text-align: center;
      line-height: 1.7;
      margin-top: 24px;
      margin-left: auto;
      margin-right: auto;
      max-width: 820px;
    }

    @media only screen
    and (min-width: 870px)
    and (max-width: 1080px) {
      h1 {
        font-size: 36px;
      }

      p {
        font-size: 16px;
      }
      .more-services {
        margin-top: -32px;
      }
    }

    @media only screen
    and (min-width: 761px)
    and (max-width: 869px) {
      h1 {
        font-size: 28px;
      }

      p {
        font-size: 15px;
      }

      .more-services {
        margin-top: -28px;
      }
    }

    @media only screen
    and (min-width: 430px)
    and (max-width: 760px) {
      h1 {
        font-size: 28px;
      }

      p {
        font-size: 15px;
      }

      .more-services {
        float: none;
        text-align: center;
        margin-top: 12px;
      }
    }

    @media only screen
    and (max-width: 429px) {
      h1 {
        font-size: 20px;
      }

      p {
        margin-top: 12px;
        font-size: 13px;
      }

      .more-services {
        float: none;
        text-align: center;
        margin-top: 12px;
      }
    }
  }

  #service-detail-split {
    background: #222428;
    text-align: center;

    .service-icon {
      width: 234px;
      height: 234px;
      display: inline-block;
      background-repeat: no-repeat;
      margin-top: -117px;

      &.web-dev {
        background-image: url('/img/service-detail/sample-icon.png');
      }

      &.app-dev {
        background-image: url('/img/service-detail/sample-icon.png');
      }

      &.creative-design {
        background-image: url('/img/service-detail/sample-icon.png');
      }

      &.web-hosting {
        background-image: url('/img/service-detail/sample-icon.png');
      }

      &.proj-manage {
        background-image: url('/img/service-detail/sample-icon.png');
      }

      &.security {
        background-image: url('/img/service-detail/sample-icon.png');
      }

      &.data-dev {
        background-image: url('/img/service-detail/sample-icon.png');
      }

      &.scale {
        background-image: url('/img/service-detail/sample-icon.png');
      }
    }

    .content-columns {
      margin-top: 80px;
      padding-bottom: 110px;

      .text-columns {
        width: 54.3%;
        float: left;
        text-align: left;

        h2 {
          color: #ffffff;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 24px;
          margin-bottom: 8px;
        }

        p {
          color: #6b7078;
          font-size: 16px;
          line-height: 1.9;
        }

        .top-left-column {
          width: 45.1%;
          float: left;
        }

        .top-right-column {
          width: 45.1%;
          float: right;
        }

        .bottom-column {
          margin-top: 60px;
        }
      }

      .slider-column {
        float: right;
        width: 40.3%;

        .active-display {
          .active-display-item {
            display: none;

            &.active {
              display: block;
            }

            img {
              width: 100%;
            }
          }
        }

        .slider-navigation {
          background: #202328;
          box-sizing: border-box;
          border-radius: 5px;
          margin-top: 10px;
          font-size: 0;

          .navigation-previous-container {
            display: inline-block;
            float: left;

            .navigation-previous {
              font-size: 16px;
              color: #ffffff;
              text-decoration: none;
              line-height: 49px;
              display: inline-block;
              width: 22px;

              &.hide-button {
                opacity: 0.3;
              }

              .fa-angle-left {
                font-weight: bold;
              }
            }
          }

          .navigation-next-container {
            display: inline-block;
            float: right;

            .navigation-next {
              font-size: 16px;
              color: #ffffff;
              text-decoration: none;
              line-height: 49px;
              display: inline-block;
              width: 22px;

              &.hide-button {
                opacity: 0.3;
              }

              .fa-angle-right {
                font-weight: bold;
              }
            }
          }

          .navigation-viewport {
            overflow: hidden;
            height: 49px;
            box-sizing: border-box;
            position: relative;
            float: left;
            width: 150px;
            margin-left: 5px;
            text-align: left;

            .navigation-items {
              position: absolute;
              top: 0;
              left: 0;
              width: 6000px;
              height: 49px;

              .navigation-item {
                display: inline-block;
                margin-right: 8px;
                border-radius: 2px;

                img {
                  width: 100%;
                  height: 100%;
                  border-radius: 2px;
                }
              }
            }

            .navigation-left-fade {
              position: absolute;
              cursor: pointer;
              top: 0;
              left: 0;
              width: 6%;
              height: 100%;
              background-color: rgba(0,0,0,0);
              @include filter-gradient(#202328, #000000, horizontal);
              @include background-image(linear-gradient(left, rgba(32,35,40,1) 0%, rgba(0,0,0,0) 100%));

              &.hide-fade {
                display: none;
              }
            }

            .navigation-right-fade {
              position: absolute;
              cursor: pointer;
              top: 0;
              right: 0;
              width: 6%;
              height: 100%;
              background-color: rgba(0,0,0,0);
              @include filter-gradient(#000000, #202328, horizontal);
              @include background-image(linear-gradient(left, rgba(0,0,0,0) 0%, rgba(32,35,40,1) 100%));

              &.hide-fade {
                display: none;
              }
            }
          }
        }
      }
    }

    @media only screen
    and (min-width: 961px)
    and (max-width: 1120px) {
      .content-columns {
        .text-columns {
          h2 {
            font-size: 20px;
          }

          p {
            font-size: 14px;
          }

          .bottom-column {
            margin-top: 30px;
          }
        }
      }
    }

    @media only screen
    and (min-width: 831px)
            and (max-width: 960px) {
            .content-columns {
              .text-columns {
                h2 {
                  font-size: 18px;
                }

                p {
                  font-size: 12px;
                }

                .bottom-column {
            margin-top: 30px;
          }
        }
      }
    }

    @media only screen
    and (min-width: 501px)
    and (max-width: 830px) {
      .content-columns {
        .text-columns {
          text-align: center;
          float: none;
          width: auto;

          h2 {
            font-size: 20px;
          }

          p {
            font-size: 14px;
          }

          .top-left-column, .top-right-column {
            float: none;
            width: auto;
          }

          .column-clear {
            display: none;
          }

          .top-right-column, .bottom-column {
            margin-top: 20px;
          }
        }

        .slider-column {
          margin-top: 20px;
          float: none;
          width: auto;
        }
      }
    }

    @media only screen
    and (max-width: 500px) {
      .content-columns {
        .text-columns {
          text-align: center;
          float: none;
          width: auto;

          h2 {
            font-size: 18px;
          }

          p {
            font-size: 12px;
          }

          .top-left-column, .top-right-column {
            float: none;
            width: auto;
          }

          .column-clear {
            display: none;
          }

          .top-right-column, .bottom-column {
            margin-top: 20px;
          }
        }

        .slider-column {
          margin-top: 20px;
          float: none;
          width: auto;
        }
      }
    }
  }

  #service-detail-bottom {
    margin-bottom: 107px;
    margin-top: 100px;

    @media only screen
    and (min-width: 961px)
    and (max-width: 1120px) {
      margin-bottom: 80px;
      margin-top: 80px;
    }

    @media only screen
    and (min-width: 831px)
    and (max-width: 960px) {
      margin-bottom: 60px;
      margin-top: 60px;
    }

    @media only screen
    and (min-width: 501px)
    and (max-width: 830px) {
      margin-bottom: 40px;
      margin-top: 40px;
    }

    @media only screen
    and (max-width: 500px) {
      margin-bottom: 40px;
      margin-top: 40px;
    }

    .related-blog-box {
      width: 39%;
      float: left;
      background: #202328;
      border-radius: 5px;
      padding: 30px;
      box-sizing: border-box;
      height: 370px;

      h6 {
        color: #7e838a;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 10px;
        letter-spacing: 1px;
      }

      .related-posts {
        margin-top: 28px;

        .related-post {
          margin-bottom: 24px;

          &:last-child {
            margin-bottom: 0;
          }

          .post-link {
            .fa-circle-o {
              margin-right: 11px;
              font-size: 12px;
              color: #3b4046;
              font-weight: bold;
            }

            text-decoration: none;
            color: #ffffff;
            float: left;
            font-weight: bold;
            font-size: 14px;
          }

          .post-age {
            float: right;
            text-align: right;
            color: #6b7078;
            font-size: 14px;
          }
        }
      }

      .button-wrapper {
        text-align: center;
        margin-top: 20px;

        a {
          display: inline-block;
          background: #0f1215;
          line-height: 37px;
          border-radius: 4px;
          text-decoration: none;
          color: #ffffff;
          text-transform: uppercase;
          font-size: 11px;
          font-weight: bold;
          padding: 0 18px;
        }
      }
    }

    .get-in-touch-box {
      float: right;
      width: 58.8%;
      background: #202328;
      border-radius: 5px;
      padding: 30px;
      box-sizing: border-box;
      height: 370px;

      h6 {
        color: #7e838a;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 10px;
        letter-spacing: 1px;
      }

      .field-textbox {
        background: #40444a;
        border-radius: 4px;
        display: block;
        height: 41px;
        border: 0;
        padding: 0 18px;
        box-sizing: border-box;
        color: #7c8188;
        font-weight: 400;
        font-size: 15px;
        width: 100%;
        margin-bottom: 12px;
        -webkit-box-shadow: 0px 3px 0px 0px rgba(29,32,36,1);
        -moz-box-shadow: 0px 3px 0px 0px rgba(29,32,36,1);
        box-shadow: 0px 3px 0px 0px rgba(29,32,36,1);
      }

      .field-textarea {
        resize: none;
        width: 100%;
        display: block;
        padding: 10px 18px;
        box-sizing: border-box;
        border: 0;
        background: #40444a;
        font-weight: 400;
        color: #7c8188;
        font-size: 15px;
        border-radius: 4px;
        -webkit-box-shadow: 0px 3px 0px 0px rgba(29,32,36,1);
        -moz-box-shadow: 0px 3px 0px 0px rgba(29,32,36,1);
        box-shadow: 0px 3px 0px 0px rgba(29,32,36,1);
      }

      .field-columns {
        margin-top: 26px;

        .left-column {
          float: left;
          width: 49.1%;

          .field-textbox {
            &:last-child {
              margin-bottom: 0;
            }
          }
        }

        .right-column {
          float: right;
          width: 49.1%;

          .field-textarea {
            height: 200px;
          }
        }
      }

      .button-wrapper {
        font-size: 0;
        text-align: right;
        margin-top: 23px;

        a {
          line-height: 37px;
          display: inline-block;
          padding: 0 11px;
          background: #3bbded;
          color: #ffffff;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 12px;
          font-weight: bold;
          border-radius: 4px;
          box-sizing: border-box;

          &.project-planner-button {
            background: #ed3b3b;
            margin-right: 10px;
          }
        }
      }
    }

    @media only screen
    and (min-width: 1070px)
    and (max-width: 1190px) {
      .related-blog-box {
        .related-posts {
          .related-post {
            .post-link {
              font-size: 12px;
            }
          }
        }
      }
    }

    @media only screen
    and (min-width: 761px)
    and (max-width: 1069px) {
      .related-blog-box {
        .related-posts {
          .related-post {
            .post-link {
              font-size: 12px;
            }
          }
        }
      }
    }

    @media only screen
    and (min-width: 501px)
    and (max-width: 760px) {
      .related-blog-box {
        float: none;
        width: auto;

        .related-posts {
          .related-post {
            .post-link {
              font-size: 12px;
            }
          }
        }
      }

      .get-in-touch-box {
        float: none;
        width: auto;
        margin-top: 20px;
      }
    }

    @media only screen
    and (max-width: 500px) {
      .related-blog-box {
        float: none;
        width: auto;

        .related-posts {
          .related-post {
            .post-link {
              font-size: 12px;
            }

            .post-age {
              font-size: 11px;
            }
          }
        }
      }

      .get-in-touch-box {
        float: none;
        width: auto;
        margin-top: 20px;
        height: auto;

        .field-clear {
          display: none;
        }

        .field-textarea {
          font-size: 13px;
        }

        .field-textbox {
          font-size: 13px;
        }

        .field-columns {
          .left-column {
            float: none;
            width: auto;
          }

          .right-column {
            float: none;
            width: auto;
            margin-top: 12px;

            .field-textarea {
              height: 125px;
            }
          }
        }

        .button-wrapper {
          text-align: center;

          a {
            font-size: 10px;
            margin-bottom: 8px;

            &.mail-button {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}