// Place all the styles related to the Works controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
#page.work-detail {
  #work-detail-top {
    margin-top: 131px;
    margin-bottom: 131px;
    position: relative;

    @media only screen
    and (min-width: 831px)
    and (max-width: 950px) {
      margin-top: 100px;
      margin-bottom: 100px;
    }

    @media only screen
    and (min-width: 750px)
    and (max-width: 830px) {
      margin-top: 80px;
      margin-bottom: 80px;
    }

    @media only screen
    and (max-width: 749px) {
      margin-top: 40px;
      margin-bottom: 40px;
    }

    h1 {
      text-align: left;
      text-transform: uppercase;
      font-size: 24px;
      line-height: 37px;

      .fa-angle-double-left {
        margin-right: 20px;
      }

      a {
        font-weight: bold;
        color: #ffffff;
        text-decoration: none;
      }
    }

    .get-in-touch {
      float: right;
      line-height: 37px;
      margin-top: -37px;

      span {
        color: #ffffff;
        font-weight: bold;
        font-size: 13px;
      }

      a {
        display: inline-block;
        line-height: 37px;
        background: #37c95d;
        border-radius: 4px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: bold;
        color: white;
        margin-left: 20px;
        padding: 0 20px;
      }
    }

    @media only screen
    and (min-width: 575px)
    and (max-width: 616px) {
      h1 {
        font-size: 20px;
      }
    }

    @media only screen
    and (max-width: 574px) {
      h1 {
        text-align: center;
      }

      .get-in-touch {
        float: none;
        margin-top: 8px;
        text-align: center;
      }
    }
  }

  #work-detail-area {
    margin-bottom: 30px;
    .work-detail-box {
      background: #202328;
      border-radius: 5px;
      padding: 40px;

      .detail-meta {
        .detail-title {
          float: left;
          display: inline-block;

          h2 {
            color: #ffffff;
            display: inline-block;
            font-size: 23px;
            font-weight: bold;
            text-transform: uppercase;
          }

          h3 {
            margin-left: 14px;
            display: inline-block;
            font-size: 15px;

            a {
              text-decoration: none;
              color: #3bbded;
              font-weight: bold;
            }
          }
        }

        .detail-tags {
          float: right;
          font-size: 0;

          a {
            display: inline-block;
            background: #1d2024;
            line-height: 29px;
            color: #ffffff;
            font-weight: bold;
            font-size: 12px;
            text-transform: uppercase;
            border-radius: 99px;
            padding: 0 13px;
            margin-right: 5px;
            text-decoration: none;
          }
        }
      }

      .detail-info {
        margin-top: 15px;

        p {
          color: #6b7078;
          font-size: 18px;
          line-height: 1.7;
        }
      }
    }

    @media only screen
    and (min-width: 831px)
    and (max-width: 950px) {
      .work-detail-box {
        .detail-meta {
          .detail-title {
            h2 {
              font-size: 18px;
            }

            h3 {
              font-size: 12px;
            }
          }
        }

        .detail-info {
          margin-top: 10px;

          p {
            font-size: 15px;
          }
        }
      }
    }

    @media only screen
    and (min-width: 750px)
    and (max-width: 830px) {
      .work-detail-box {
        .detail-meta {
          .detail-title {
            h2 {
              display: block;
            }

            h3 {
              margin-left: 0;
              margin-top: 8px;
              display: block;
            }
          }
        }

        .detail-info {
          p {
            font-size: 15px;
          }
        }
      }
    }

    @media only screen
    and (max-width: 749px) {
      .work-detail-box {
        padding: 20px;

        .detail-meta {
          text-align: center;

          .meta-clear {
            display: none;
          }

          .detail-title {
            display: block;
            float: none;

            h2 {
              display: block;
            }

            h3 {
              margin-left: 0;
              margin-top: 10px;
              display: block;
            }

            @media only screen
            and (max-width: 450px) {
              h2 {
                font-size: 16px;
              }

              h3 {
                font-size: 14px;
              }
            }
          }

          .detail-tags {
            display: block;
            float: none;
            margin-top: 12px;

            a {
              margin-bottom: 8px;
            }
          }
        }

        .detail-info {
          text-align: center;
          margin-top: 0;
          p {
            font-size: 13px;
          }
        }
      }
    }
  }

  #work-detail-gallery {
    margin-bottom: 164px;

    @media only screen
    and (min-width: 831px)
    and (max-width: 950px) {
      margin-bottom: 100px;
    }

    @media only screen
    and (min-width: 750px)
    and (max-width: 830px) {
      margin-bottom: 80px;
    }

    @media only screen
    and (max-width: 749px) {
      margin-bottom: 40px;
    }

    #work-detail-gallery-inner {
      .gallery-active-viewport {
        float: left;
        width: 77%;

        .gallery-active-viewport-item {
          border-radius: 5px;
          display: none;

          &.active {
            display: block;
          }

          img {
            width: 100%;
            height: 100%;
            border-radius: 5px;
          }
        }
      }

      .gallery-navigation {
        float: right;
        width: 21.1%;
        padding: 20px;
        background: #202328;
        box-sizing: border-box;
        border-radius: 5px;
        font-size: 0;

        .navi-clear {
          display: none;
        }

        .gallery-navigation-previous-container {
          text-align: center;
          margin-bottom: 20px;

          .gallery-navigation-previous {
            font-size: 16px;
            color: #ffffff;
            text-decoration: none;
            line-height: 22px;
            display: block;
            background: #16181c;
            border-radius: 5px;

            &.hide-button {
              opacity: 0.3;
            }

            .fa-angle-left, .fa-angle-up {
              font-weight: bold;
            }

            .fa-angle-left {
              display: none;
            }
          }
        }

        .gallery-navigation-next-container {
          text-align: center;
          margin-top: 20px;

          .gallery-navigation-next {
            font-size: 16px;
            color: #ffffff;
            text-decoration: none;
            line-height: 22px;
            display: block;
            background: #16181c;
            border-radius: 5px;

            &.hide-button {
              opacity: 0.3;
            }

            .fa-angle-right, .fa-angle-down {
              font-weight: bold;
            }

            .fa-angle-right {
              display: none;
            }
          }
        }

        .gallery-navigation-viewport {
          overflow: hidden;
          height: 750px;
          box-sizing: border-box;
          position: relative;

          .gallery-navigation-items {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 15000px;

            .gallery-navigation-item {
              display: block;
              margin-bottom: 20px;
              border-radius: 5px;

              img {
                width: 100%;
                height: 100%;
                border-radius: 5px;
              }
            }
          }

          .gallery-navigation-bottom-fade {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 6%;
            background-color: rgba(0,0,0,0);
            @include filter-gradient(#000000, #202328, vertical);
            @include background-image(linear-gradient(top, rgba(0,0,0,0) 0%, rgba(32,35,40,1) 100%));

            &.hide-fade {
              display: none;
            }
          }

          .gallery-navigation-top-fade {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 6%;
            background-color: rgba(0,0,0,0);
            @include filter-gradient(#202328, #000000, vertical);
            @include background-image(linear-gradient(top, rgba(32,35,40,1) 0%, rgba(0,0,0,0) 100%));

            &.hide-fade {
              display: none;
            }
          }

          .gallery-navigation-left-fade {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 6%;
            height: 100%;
            background-color: rgba(0,0,0,0);
            @include filter-gradient(#202328, #000000, horizontal);
            @include background-image(linear-gradient(left, rgba(32,35,40,1) 0%, rgba(0,0,0,0) 100%));

            &.hide-fade {
              display: none;
            }
          }

          .gallery-navigation-right-fade {
            display: none;
            position: absolute;
            top: 0;
            right: 0;
            width: 6%;
            height: 100%;
            background-color: rgba(0,0,0,0);
            @include filter-gradient(#000000, #202328, horizontal);
            @include background-image(linear-gradient(left, rgba(0,0,0,0) 0%, rgba(32,35,40,1) 100%));

            &.hide-fade {
              display: none;
            }
          }
        }
      }
    }

    @media only screen
    and (min-width: 460px)
    and (max-width: 760px) {
      #work-detail-gallery-inner {
        .gallery-active-viewport {
          float: none;
          display: block;
          width: auto;
        }

        .gallery-navigation {
          float: none;
          display: block;
          width: auto;
          margin-top: 20px;

          .navi-clear {
            display: inline;
          }

          .gallery-navigation-previous-container {
            display: inline-block;
            float: left;
            margin-bottom: 0;

            .gallery-navigation-previous {
              line-height: 142px;
              width: 22px;

              .fa-angle-left {
                display: inline;
              }

              .fa-angle-up {
                display: none;
              }
            }
          }

          .gallery-navigation-next-container {
            display: inline-block;
            float: right;
            margin-top: 0;

            .gallery-navigation-next {
              line-height: 142px;
              width: 22px;

              .fa-angle-right {
                display: inline;
              }

              .fa-angle-down {
                display: none;
              }
            }
          }

          .gallery-navigation-viewport {
            height: 142px !important;
            display: inline-block;
            float: left;
            width: 50px;
            margin-left: 20px;

            .gallery-navigation-top-fade, .gallery-navigation-bottom-fade {
              display: none;
            }

            .gallery-navigation-left-fade, .gallery-navigation-right-fade {
              display: block;
            }

            .gallery-navigation-items {
              width: 20000px;
              height: auto;

              .gallery-navigation-item {
                display: inline-block;
                height: 142px;
                margin-right: 20px;
              }
            }
          }
        }

        .gallery-clear {
          display: none;
        }
      }
    }

    @media only screen
    and (max-width: 459px) {
      #work-detail-gallery-inner {
        .gallery-active-viewport {
          float: none;
          display: block;
          width: auto;
        }

        .gallery-navigation {
          float: none;
          display: block;
          width: auto;
          margin-top: 20px;

          .navi-clear {
            display: inline;
          }

          .gallery-navigation-previous-container {
            display: none;
          }

          .gallery-navigation-next-container {
            display: none;
          }

          .gallery-navigation-viewport {
            height: auto;
            display: block;
            float: none;
            width: auto;
            margin-left: 0;

            .gallery-navigation-top-fade, .gallery-navigation-bottom-fade,
            .gallery-navigation-left-fade, .gallery-navigation-right-fade {
              display: none;
            }

            .gallery-navigation-items {
              display: block;
              position: static;
              left: 0;
              top: 0;
              width: auto;
              height: auto;

              .gallery-navigation-item {
                display: block;
                width: auto;
                height: auto;
                margin-right: 0;
                margin-bottom: 20px;

                &:last-child {
                  margin-bottom: 0;
                }
              }
            }
          }
        }

        .gallery-clear {
          display: none;
        }
      }
    }
  }
}

#page.work {
  #work-top {
    margin-top: 131px;
    margin-bottom: 131px;
    position: relative;

    @media only screen
    and (min-width: 1051px)
    and (max-width: 1180px) {
      margin-top: 101px;
      margin-bottom: 101px;
    }

    @media only screen
    and (min-width: 901px)
    and (max-width: 1050px) {
      margin-top: 81px;
      margin-bottom: 81px;
    }

    @media only screen
    and (min-width: 791px)
    and (max-width: 900px) {
      margin-top: 60px;
      margin-bottom: 60px;
    }

    @media only screen
    and (min-width: 601px)
    and (max-width: 790px) {
      margin-top: 60px;
      margin-bottom: 60px;
    }

    @media only screen
    and (max-width: 600px) {
      margin-top: 40px;
      margin-bottom: 40px;
    }

    h1 {
      text-align: center;
      color: #ffffff;
      text-transform: uppercase;
      font-size: 48px;
      font-weight: bold;
    }

    .get-in-touch {
      float: right;
      line-height: 48px;
      margin-top: -48px;

      span {
        color: #ffffff;
        font-weight: bold;
        font-size: 13px;
      }

      a {
        display: inline-block;
        line-height: 37px;
        background: #37c95d;
        border-radius: 4px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: bold;
        color: white;
        margin-left: 20px;
        padding: 0 20px;
      }
    }

    @media only screen
    and (min-width: 851px)
    and (max-width: 980px) {
      h1 {
        font-size: 36px;
      }

      .get-in-touch {
        line-height: 36px;
        margin-top: -36px;
      }
    }

    @media only screen
    and (min-width: 686px)
    and (max-width: 850px) {
      h1 {
        font-size: 32px;
      }

      .get-in-touch {
        line-height: 32px;
        margin-top: -32px;

        span {
          font-size: 11px;
        }

        a {
          margin-left: 10px;
          padding: 0 10px;
        }
      }
    }

    @media only screen
    and (max-width: 685px) {
      h1 {
        font-size: 42px;
      }

      .touch-clear {
        display: none;
      }

      .get-in-touch {
        text-align: center;
        display: block;
        line-height: 48px;
        margin-top: 8px;
        float: none;

        span {
          font-size: 12px;
        }
      }
    }
  }

  #work-listing {
    margin-bottom: 100px;

    @media only screen
    and (min-width: 1051px)
    and (max-width: 1180px) {
      margin-bottom: 100px;
    }

    @media only screen
    and (min-width: 901px)
    and (max-width: 1050px) {
      margin-bottom: 80px;
    }

    @media only screen
    and (min-width: 791px)
    and (max-width: 900px) {
      margin-bottom: 60px;
    }

    @media only screen
    and (min-width: 601px)
    and (max-width: 790px) {
      margin-bottom: 60px;
    }

    @media only screen
    and (max-width: 600px) {
      margin-bottom: 40px;
    }

    .work-entry {
      background: #202328;
      border-radius: 5px;
      padding: 40px 40px;
      box-sizing: border-box;
      margin-bottom: 20px;

      .thumbnail-container {
        float: left;
        width: 30%;
        border-radius: 5px;

        img {
          width: 100%;
          border-radius: 5px;
        }
      }

      .content-container {
        float: right;
        width: 66%;

        h2 {
          color: #ffffff;
          font-size: 29px;
          text-transform: uppercase;
          font-weight: bold;
          margin-top: 35px;
        }

        p {
          color: #7e838a;
          font-size: 16px;
          line-height: 1.9;
          margin-top: 13px;
          letter-spacing: 1px;
        }

        .meta-container {
          margin-top: 20px;
          font-size: 0;

          a {
            display: inline-block;
            background: #3bbded;
            line-height: 37px;
            font-size: 14px;
            font-weight: bold;
            text-decoration: none;
            color: #ffffff;
            border-radius: 4px;
            padding: 0 24px;
            text-transform: uppercase;
          }

          .tags-container {
            display: inline-block;
            line-height: 29px;
            margin-left: 18px;

            a {
              display: inline-block;
              line-height: 29px;
              font-size: 12px;
              font-weight: bold;
              color: #ffffff;
              background: #1d2024;
              border-radius: 99px;
              padding: 0 13px;
              text-transform: uppercase;
              margin-right: 5px;
              text-decoration: none;
            }
          }
        }

        .meta-container-mobile {
          display: none;
          margin-top: 20px;
          font-size: 0;

          a {
            display: inline-block;
            background: #3bbded;
            line-height: 37px;
            font-size: 14px;
            font-weight: bold;
            text-decoration: none;
            color: #ffffff;
            border-radius: 4px;
            padding: 0 24px;
            text-transform: uppercase;
            float: right;
          }

          .tags-container-mobile {
            display: block;
            line-height: 29px;
            margin-bottom: 12px;
            text-align: right;

            a {
              display: inline-block;
              line-height: 29px;
              font-size: 12px;
              font-weight: bold;
              color: #ffffff;
              border-radius: 99px;
              padding: 0 13px;
              text-transform: uppercase;
              margin-left: 5px;
              background: #1d2024;
              text-decoration: none;
            }
          }
        }
      }
    }

    @media only screen
    and (min-width: 1051px)
    and (max-width: 1180px) {
      .work-entry {
        .content-container {
          h2 {
            margin-top: 15px;
          }
        }
      }
    }

    @media only screen
    and (min-width: 901px)
    and (max-width: 1050px) {
      .work-entry {
        .content-container {
          h2 {
            margin-top: 0px;
            font-size: 22px;
          }

          p {
            line-height: 1.5;
          }
        }
      }
    }

    @media only screen
    and (min-width: 791px)
    and (max-width: 900px) {
      .work-entry {
        .content-container {
          h2 {
            margin-top: 0px;
            font-size: 22px;
          }

          p {
            line-height: 1.5;
            font-size: 13px;
          }

          .meta-container {
            a {
              padding: 0 12px;
            }
          }
        }
      }
    }

    @media only screen
    and (min-width: 601px)
    and (max-width: 790px) {
      .work-entry {
        padding: 20px 20px;

        .thumbnail-container {
          width: 40%;
        }

        .content-container {
          width: 56%;

          h2 {
            margin-top: 0px;
            font-size: 22px;
          }

          p {
            line-height: 1.5;
            font-size: 13px;
          }

          .meta-container {
            display: none;
          }

          .meta-container-mobile {
            display: block;

            a {
              float: none;
            }

            .tags-container-mobile {
              text-align: left;

              a {
                margin-left: 0;
                margin-right: 5px;
              }
            }
          }
        }
      }
    }

    @media only screen
    and (max-width: 600px) {
      .work-entry {
        padding: 20px 20px;

        .thumbnail-container {
          float: none;
          display: block;
          width: auto;
        }

        .content-container {
          margin-top: 20px;
          float: none;
          width: auto;
          display: block;

          h2 {
            margin-top: 0px;
            font-size: 22px;
            text-align: center;

            @media only screen
            and (max-width: 400px) {
              font-size: 18px;
            }
          }

          p {
            line-height: 1.5;
            font-size: 13px;
            text-align: center;
          }

          .meta-container {
            display: none;
          }

          .meta-container-mobile {
            display: block;
            text-align: center;

            a {
              float: none;
            }

            .tags-container-mobile {
              text-align: center;

              a {
                margin-left: 0;
                margin-right: 5px;
              }
            }
          }
        }
      }
    }
  }
}