<section id="project-planner-top">
  <div class="wrapper">
    <h1>Project Planner</h1>

    <div class="phone-wrapper">
      <a class="number-box" href="#"><i class="fa fa-phone"></i>(310) 707 - 3289</a><span>Give us a call!</span>
    </div>
  </div>
</section>
<%= form_for @project_planner, url:{action: "new"} do |f| %>
  <% if @project_planner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project_planner.errors.count, "error") %> prohibited this project_planner from being saved:</h2>

      <ul>
      <% @project_planner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <section id="planner-first-section" class="planner-section">
      <div class="wrapper">
        <h6>1. Contact Info</h6>
        <div class="field-holder first-last-name-field-holder">
          <label for="first-last-name-field">First & Last Name:</label>
          <!--<input id="first-last-name-field" type="text" name="first_and_last_name" class="field-textbox" value=""/>-->
          <%= f.text_field :full_name, :class=>'field-textbox' %>
        </div>

        <div class="field-holder company-name-field-holder">
          <label for="company-name-field">Company or Organization Name:</label>
          <!--<input id="company-name-field" type="text" name="company_name" class="field-textbox" value=""/>-->
          <%= f.text_field :company, :class=>'field-textbox' %>
        </div>

        <div class="field-holder phone-number-field-holder">
          <label for="phone-number-field">Phone Number:</label>
          <!--<input id="phone-number-field" type="text" name="phone_number" class="field-textbox" value=""/>-->
          <%= f.text_field :phone_number, :class=>'field-textbox' %>
        </div>

        <div class="field-holder email-address-field-holder">
          <label for="email-address-field">Email Address:</label>
          <!--<input id="email-address-field" type="email" name="email_address" class="field-textbox" value=""/>-->
          <%= f.text_field :email_address, :class=>'field-textbox' %>
        </div>

        <div class="field-holder referral-field-holder">
          <label for="referral-field">How did you hear about us?</label>
          <!--<input id="referral-field" type="text" name="referral" class="field-textbox" value=""/>-->
          <%= f.text_field :hear_about_us, :class=>'field-textbox' %>
        </div>
      </div>
    </section>

    <section id="planner-second-section" class="planner-section">
      <div class="wrapper">
        <h6>2. General Project Info</h6>
        <div class="field-holder project-url-field-holder">
          <label for="project-url-field">What is your current (or intended) URL?</label>
          <!--<input id="project-url-field" type="text" name="project_url" class="field-textbox" value=""/>-->
          <%= f.text_field :project_url, :class=>'field-textbox' %>
        </div>

        <div class="field-holder launch-date-field-holder">
          <label for="launch-date-field">What is your desired Launch Date?</label>
          <!--<input id="launch-date-field" type="text" name="launch_date" class="field-textbox" value=""/>-->
          <%= f.text_field :launch_date,:class=>'field-textbox' %>
        </div>

        <div class="field-holder budget-field-holder">
          <label class="budget-label">Do you have a budget already established for this project? If so, please indicate your budget below:</label>
          <input id="budget-radio-under-5k" type="radio" class="field-radio" name="project_planner[budget]" value="5000" />
          <label for="budget-radio-under-5k" class="radio-label">Under $5,000</label>

          <input id="budget-radio-5k-10k" type="radio" class="field-radio" name="project_planner[budget]" value="10000" />
          <label for="budget-radio-5k-10k" class="radio-label">$5,000 - $10g,000</label>

          <input id="budget-radio-10k-30k" type="radio" class="field-radio" name="project_planner[budget]" value="30000" />
          <label for="budget-radio-10k-30k" class="radio-label">$10,000 - $30,000</label>

          <input id="budget-radio-30k-50k-plus" type="radio" class="field-radio" name="project_planner[budget]" value="50000" />
          <label for="budget-radio-30k-50k-plus" class="radio-label">$30,000 - $50,000+</label>

          <input id="budget-radio-unknown" type="radio" class="field-radio" name="project_planner[budget]" value="Unknown" />
          <label for="budget-radio-unknown" class="radio-label">Unknown</label>
        </div>
      </div>
    </section>

    <section id="planner-third-section" class="planner-section">
      <div class="wrapper">
        <h6>3. Project Goals</h6>

        <div class="field-holder site-concept-field-holder">
          <label for="site-concept-field">Briefly describe the site's concept and what service it seeks to provide.</label>
          <!--<textarea id="site-concept-field" name="site_concept" class="field-textarea"></textarea>-->
          <%= f.text_area :site_concept, :class=>'field-textarea' %>
        </div>

        <div class="field-holder main-objective-field-holder">
          <label for="main-objective-field">What is your main objective or reason for this project?</label>
          <!--<textarea id="main-objective-field" name="main_objective" class="field-textarea"></textarea>-->
          <%= f.text_area :main_objective, :class=>'field-textarea' %>
        </div>

        <div class="field-holder schedule-considerations-field-holder">
          <label for="schedule-considerations-field">Are there any other considerations that could impact the project schedule?</label>
          <!--<textarea id="schedule-considerations-field" name="schedule_considerations" class="field-textarea"></textarea>-->
          <%= f.text_area :schedule_considerations, :class=>'field-textarea' %>
        </div>
      </div>
    </section>

    <section id="planner-fourth-section" class="planner-section">
      <div class="wrapper">
       <!-- <div class="legal-holder">
          <input id="legal-disclaimer-field" type="checkbox" class="field-checkbox" name="legal_disclaimer" value="1" />
          <label for="legal-disclaimer-field" class="legal-label">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nisl velit, suscipit a orci et.</label>
        </div>-->

        <div class="button-holder">
          <!--<a href="#" type="submit">Submit Form</a>-->
          <%= f.submit 'Submit Form', :class=>'submit-button' %>
        </div>

        <br class="clearBoth bottom-clear" />
      </div>
    </section>
<% end %>
