<h1>Listing project_planners</h1>

<table>
  <thead>
    <tr>
      <th>Full name</th>
      <th>Company</th>
      <th>Phone number</th>
      <th>Email address</th>
      <th>Hear about us</th>
      <th>Project url</th>
      <th>Launch date</th>
      <th>Budget</th>
      <th>Site concept</th>
      <th>Main objective</th>
      <th>Schedule considerations</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_planners.each do |project_planner| %>
      <tr>
        <td><%= project_planner.full_name %></td>
        <td><%= project_planner.company %></td>
        <td><%= project_planner.phone_number %></td>
        <td><%= project_planner.email_address %></td>
        <td><%= project_planner.hear_about_us %></td>
        <td><%= project_planner.project_url %></td>
        <td><%= project_planner.launch_date %></td>
        <td><%= project_planner.budget %></td>
        <td><%= project_planner.site_concept %></td>
        <td><%= project_planner.main_objective %></td>
        <td><%= project_planner.schedule_considerations %></td>
        <td><%= link_to 'Show', project_planner %></td>
        <td><%= link_to 'Edit', edit_project_planner_path(project_planner) %></td>
        <td><%= link_to 'Destroy', project_planner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project planner', new_project_planner_path %>
