<p id="notice"><%= notice %></p>

<p>
  <strong>Full name:</strong>
  <%= @project_planner.full_name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @project_planner.company %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @project_planner.phone_number %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @project_planner.email_address %>
</p>

<p>
  <strong>Hear about us:</strong>
  <%= @project_planner.hear_about_us %>
</p>

<p>
  <strong>Project url:</strong>
  <%= @project_planner.project_url %>
</p>

<p>
  <strong>Launch date:</strong>
  <%= @project_planner.launch_date %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @project_planner.budget %>
</p>

<p>
  <strong>Site concept:</strong>
  <%= @project_planner.site_concept %>
</p>

<p>
  <strong>Main objective:</strong>
  <%= @project_planner.main_objective %>
</p>

<p>
  <strong>Schedule considerations:</strong>
  <%= @project_planner.schedule_considerations %>
</p>

<%= link_to 'Edit', edit_project_planner_path(@project_planner) %> |
<%= link_to 'Back', project_planners_path %>
