<%= form_for(@team_slider) do |f| %>
  <% if @team_slider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team_slider.errors.count, "error") %> prohibited this team_slider from being saved:</h2>

      <ul>
      <% @team_slider.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :team_member_short_link %><br>
    <%= f.text_field :team_member_short_link %>
  </div>
  <div class="field">
    <%= f.label :order %><br>
    <%= f.number_field :order %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :work_short_link %><br>
    <%= f.text_field :work_short_link %>
  </div>
  <div class="field">
    <%= f.label :website_text %><br>
    <%= f.text_area :website_text %>
  </div>
  <div class="field">
    <%= f.label :website_link %><br>
    <%= f.text_field :website_link %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
