<h1>Listing team_sliders</h1>

<table>
  <thead>
    <tr>
      <th>Team member short link</th>
      <th>Order</th>
      <th>Image</th>
      <th>Title</th>
      <th>Work short link</th>
      <th>Website text</th>
      <th>Website link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @team_sliders.each do |team_slider| %>
      <tr>
        <td><%= team_slider.team_member_short_link %></td>
        <td><%= team_slider.order %></td>
        <td><%= team_slider.image %></td>
        <td><%= team_slider.title %></td>
        <td><%= team_slider.work_short_link %></td>
        <td><%= team_slider.website_text %></td>
        <td><%= team_slider.website_link %></td>
        <td><%= link_to 'Show', team_slider %></td>
        <td><%= link_to 'Edit', edit_team_slider_path(team_slider) %></td>
        <td><%= link_to 'Destroy', team_slider, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team slider', new_team_slider_path %>
