<p id="notice"><%= notice %></p>

<p>
  <strong>Team member short link:</strong>
  <%= @team_slider.team_member_short_link %>
</p>

<p>
  <strong>Order:</strong>
  <%= @team_slider.order %>
</p>

<p>
  <strong>Image:</strong>
  <%= @team_slider.image %>
</p>

<p>
  <strong>Title:</strong>
  <%= @team_slider.title %>
</p>

<p>
  <strong>Work short link:</strong>
  <%= @team_slider.work_short_link %>
</p>

<p>
  <strong>Website text:</strong>
  <%= @team_slider.website_text %>
</p>

<p>
  <strong>Website link:</strong>
  <%= @team_slider.website_link %>
</p>

<%= link_to 'Edit', edit_team_slider_path(@team_slider) %> |
<%= link_to 'Back', team_sliders_path %>
