<footer>
  <div class="wrapper">
    <div class="logo-container">
      <%= image_tag 'footer-logo-large.png', class:'large-logo' %>
      <%= image_tag 'footer-logo-medium.png', class:'medium-logo' %>
      <%= image_tag 'footer-logo-small.png', class:'small-logo' %>
    </div>
    <div class="links-container">
      <div class="lists-wrapper">
        <ul>
          <li><%= link_to 'Home', root_path%></li>
          <li><a href="<%= teams_path%>"><span class="extra">The </span>Team</a></li>
          <li><a href="<%= new_contact_path%>">Contact<span class="extra"> Us</span></a></li>

          <br class="clearBoth" />
        </ul>

        <ul>
          <li><a href="<%=works_path%>"><span class="extra">Our </span>Work</a></li>
          <li><a href="#"><span class="extra">ASDF </span>Blog</a></li>
          <li><a href="<%=new_project_planner_path%>"><span class="extra">Project </span>Planner</a></li>

          <br class="clearBoth" />
        </ul>
      </div>
    </div>
    <div class="social-container">
      <div class="social-items">
        <%= link_to '',@facebook_url.value,:class=>'social-facebook' %>
        <%= link_to '',@twitter_url,:class=>'social-twitter' %>
        <%= link_to '',@gplus_url,:class=>'social-gplus' %>
        <%= link_to '',@dribble_url,:class=>'social-dribbble' %>
        <%= link_to '',@github_url,:class=>'social-github' %>
      </div>
      <br class="clearBoth" />
    </div>
    <br class="clearBoth last-clear" />
  </div>
</footer>