<header class="state-closed">
  <div class="wrapper">
    <a id="logo" href="<%= root_path%>"><%= image_tag 'logo.png' %></a>
    <nav>
      <%= link_to 'Home',root_path ,class: (active_menu=='home') ? 'active' : '' %>
      <%= link_to  works_path, class: (active_menu=='work') ? 'active' : ''  do %>
            <span class="extra">Our </span>Work</a>
      <% end %>
      <%= link_to  teams_path, class: (active_menu=='team') ? 'active' : '' do %>
        <span class="extra">The </span>Team
      <% end %>
      <a href="#html"><span class="extra">Our </span>Blog</a>
      <a class="contact-button" href="<%= new_contact_path%>"><span class="contact-icon"></span>Contact<span class="extra"> Us</span></a>
    </nav>

    <a id="mobile-menu" href="#"><i class="menu-icon"></i></a>
    <a id="mobile-contact-button" href="<%= new_contact_path %>"></a>

    <br class="clearBoth" />
  </div>
</header>