<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/head' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body style="background: #272A2F;">
<%
   controller_name = controller.controller_name
   action_name = controller.action_name
   container_class = case controller_name
        when 'teams'
            case action_name
              when 'index'
                'team'
              when 'show'
                'team-detail'
              end
        when 'services'
            case action_name
              when 'index'
                'home-page'
              when 'show'
                'service-detail'
              end
        when 'works'
           case action_name
             when 'index'
                'work'
             when 'show'
                'work-detail'
            end
        when 'contacts'
          case action_name
            when 'new'
              'contact'
            when 'show'
              'work-detail'
          end
       when 'project_planners'
         case action_name
           when 'new'
             'project-planner'
           when 'show'
             'project-planner'
         end
        else 'home-page'
        end
    #active menu
   active_menu = case controller_name
           when 'home'
             case action_name
                 when 'index'
                    'home'
               end
           when 'teams'
             case action_name
               when 'index'
                 'team'
             end
           when 'works'
             case action_name
               when 'index'
                 'work'
             end
           else 'none'
         end
%>
<div id="page" class="<%= container_class%>">
  <%= render 'layouts/navigation', {active_menu:active_menu} %>
  <%= yield %>
  <%= render 'layouts/footer' %>
</div>
</body>
</html>